.news
    &__tiles
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-flex-wrap: wrap
        flex-wrap: wrap
        margin: -30px
        font: 15px/23px $ffr
        color: #3d3d3d
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            padding: 15px
            width: 33.3%

    &__details
        color: #006ebb
        text-decoration: underline solid
        margin-top: auto
        -webkit-transition: text-decoration-color 0.2s
        transition: text-decoration-color 0.2s

    &__tile
        &--top
            width: 100%
            .tile__column
                display: -webkit-flex
                display: -ms-flexbox
                display: flex
                flex-direction: column
                padding: 0 20px
                > *
                    -webkit-flex: 0 1 auto
                    -ms-flex: 0 1 auto
                    flex: 0 1 auto
            .news__preview img
                max-height: 300px
                width: auto

        &--top, &_body
            flex-direction: row

        &_body
            display: -webkit-flex
            display: -ms-flexbox
            display: flex
            -webkit-flex-direction: column
            flex-direction: column
            position: relative
            height: 100%
            padding: 15px
            -webkit-transition: box-shadow 0.2s
            transition: box-shadow 0.2s
            > *
                margin-bottom: 15px
                &:last-child
                    margin-bottom: 0

        &:hover
            .news
                &__tile_body
                    box-shadow: 6px 5px 11px -4px #cacaca
                &__details
                    text-decoration-color: transparent

    &__title
        font-size: 18px
        font-weight: bold

    &__preview
        position: relative
        padding: 10px
        border: 1px solid #eaeaea
        border-width: 1px 1px 0 1px
        img
            position: relative
            width: 100%
            height: 65vw
            max-height: 200px
            -o-object-fit: cover
            object-fit: cover

    &__date
        position: absolute
        bottom: -10px
        left: 0
        -webkit-background-image: -webkit-linear-gradient(27deg, white 72%, transparent 72%)
        background: linear-gradient(27deg, white 72%, transparent 72%) center/contain no-repeat
        padding: 5px 50px 5px 10px


@media screen and (max-width: 1024px)
    .news__tiles > *:not(.news__tile--top)
        width: 50%

@media screen and (max-width: 768px)
    .news
        &__tiles
            display: block
            margin: 0
            > *
                width: 100% !important
                padding: 0
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
        &__tile
            &_body
                display: block
                padding: 0
            &--top .tile__column
                display: block
                padding: 0

        &__details
            margin-top: initial

        &__preview img
            max-height: 400px

        &__tile--top .news__preview img
            width: 100%