@import "../../../../css/variables"

#del_filter
    margin-left: auto
    padding: 0
    text-decoration: underline
    color: #929292

.smartfilter
    &__body_bottom,
    &__inputs_block,
    &__block_body,
    &__performance_block,
    &__range_block
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex

.bx-filter-parameters-box-container
    display: -webkit-flex
    display: -ms-flexbox
    display: -moz-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    justify-content: space-between
    -webkit-align-items: flex-start
    align-items: flex-start
    font-weight: 600
    fonr-size: 13px
    line-height: 17px
    color: #3d3d3d
    > *
        -webkit-flex: 0 1 auto
        -ms-flex: 0 1 auto
        flex: 0 1 auto
    input
        background: none
        border: none
        cursor: pointer
    a
        color: inherit
        text-decoration: none

.filter_expanded .smartfilter__body_bottom
    -webkit-transform: scaleY(1)
    -ms-transform: scaleY(1)
    transform: scaleY(1)
    height: initial

#smartfilter
    background-color: #F5F5F5
    margin-bottom: 20px
    padding: 20px
    font: 12px/16px $ffr
    > *
        padding-bottom: 20px
    p
        font-family: inherit
        font-size: inherit
    [type='submit']
        background: none
        border: none
    [name='set_filter']
        background: transparent right/contain no-repeat
        padding-right: 25px
        border: none
        background-size: auto 80%
        background-position: 100% 50%

.smartfilter
    &__body
        position: relative
        z-index: 1
        padding-bottom: 10px !important
        &_bottom
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scaleY(0)
            -ms-transform: scaleY(0)
            transform: scaleY(0)
            height: 0
            -webkit-transition: 0.2s transform, 0.2s height
            transition: 0.2s transform, 0.2s height
            > *
                -webkit-flex: 1 1 auto
                -ms-flex: 1 1 auto
                flex: 1 1 auto
                margin: 0 10px 0 0
                &:last-child
                    margin: 0
    &__footer
        border-top: 1px solid #E3E3E3
        padding: 20px 0 0 !important
        position: relative
        z-index: 0
        p
            padding: 0 0 20px
        .advanced_filter
            text-align: center
            color: #C79F00
            margin: 0 auto
            text-decoration: underline
            cursor: pointer
            > span
                display: inline-block
                position: relative
                padding-right: 20px
                &:before
                    position: absolute
                    content: ''
                    border: 2px solid
                    width: 7px
                    height: 7px
                    border-width: 2px 0 0 2px
                    right: 0
                    transform: rotate(-135deg)
                    top: calc(50% - 5px)
                    -webkit-transition: 0.2s transform
                    transition: 0.2s transform
                &.expanded
                    &:before
                        transform: rotate(45deg)
                        top: calc(50% - 2px)
    &__inputs
        &_block
            position: relative
            z-index: 1
            -webkit-flex-direction: column
            flex-direction: column
        &_header
            font-weight: 600
            margin-bottom: 10px
        &_footer
            margin-top: auto
            > *
                margin-bottom: 10px
                &:last-child
                    margin: 0
    &__block
        &_body
            margin-top: auto
            > *
                -webkit-flex: 0 1 auto
                -ms-flex: 0 1 auto
                flex: 0 1 auto
                width: 100%
                padding: 0 10px 0 0
                &:last-child
                    padding: 0
        &_title
            font-weight: 600
            margin-bottom: 10px
    &__performance_block
        -webkit-flex-direction: column
        flex-direction: column
        .smartfilter__block_body
            display: block
            > *
                padding: 0 0 10px
                &:last-child
                    padding: 0
    &__range_block
        -webkit-flex-direction: column
        flex-direction: column
    &__fraction_block .smartfilter__block_body
        height: 100%
    &__list
        column-count: 2
        > *
            width: 100%
            padding-top: 6px !important
            padding-bottom: 6px !important
            margin: 0
        .wrap__radio .checkmark
            height: 16px
            width: 16px
            top: calc(50% - 8px)
            &:before
                height: 8px
                width: 8px
        &--icons
            display: -webkit-flex
            display: -ms-flexbox
            display: flex
            -webkit-flex-direction: column
            flex-direction: column
            -webkit-align-items: flex-start
            align-items: flex-start
            > *
                -webkit-flex: 0 1 auto
                -ms-flex: 0 1 auto
                flex: 0 1 auto
            .wrap__radio
                padding: 15px 45px 15px 45px
                width: 110px
                .checkmark
                    height: 40px
                    width: 40px
                    top: calc(50% - 20px)
                    left: 0
                    border: none
                    border-radius: initial
                    background: transparent center/contain no-repeat
                    opacity: 0.5
                    -webkit-transition: opacity 0.2s
                    transition: opacity 0.2s
                    &:before
                        display: none
                input:checked ~ .checkmark
                    opacity: 1
                &[disabled] .checkmark
                    background-color: #0b0b0b
                    background-blend-mode: difference
                &:before
                    position: absolute
                    content: ''
                    background: url(/images/icons/info.svg) center/contain no-repeat
                    width: 18px
                    height: 18px
                    top: calc(50% - 9px)
                    right: 0
                &:last-child:before
                    display: none
    &__info
        position: relative
        padding: 0 0 14px 34px
        background: url(/images/icons/info.svg) left/contain no-repeat
        background-size: 20px auto
        background-position: 0 2px
        cursor: pointer
        &:after
            position: absolute
            content: ''
            border: 2px solid #848484
            width: 7px
            height: 7px
            border-width: 2px 0 0 2px
            left: calc(50% - 10px)
            bottom: 0
            -webkit-transform: rotate(-135deg)
            transform: rotate(-135deg)
            -webkit-transition: transform 0.2s
            transition: transform 0.2s
        &_content
            position: relative
            overflow: hidden
            height: 50px
            &:after
                position: absolute
                content: ''
                background: linear-gradient(to bottom, transparent, whitesmoke)
                top: 0
                left: 0
                height: 100%
                width: 100%
                opacity: 1
                -webkit-transition: opacity 0.2s
                transition: opacity 0.2s
        &.expanded
            &:after
                -webkit-transform: rotate(45deg)
                transform: rotate(45deg)
            .smartfilter__info_content
                height: initial
                &:after
                    opacity: 0

.block
    &_164
        width: initial
    &_78
        z-index: 4
    &_81
        z-index: 3
    &_80
        z-index: 2

@media screen and (max-width: 768px)
    #smartfilter
        max-width: 400px
        margin-left: auto
        margin-right: auto
    .smartfilter
        &__body_bottom, &__block_body
            display: block
            > *
                padding: 0 0 20px
                margin: 0
                &:last-child
                    padding: 0
        &__list
            column-count: unset
            max-height: unset
            &--icons
                -webkit-flex-wrap: wrap
                flex-wrap: wrap
                -webkit-flex-direction: row
                flex-direction: row
                -webkit-justify-content: space-between
                justify-content: space-between
                > *
                    width: 100px