#del_filter {
  margin-left: auto;
  padding: 0;
  text-decoration: underline;
  color: #929292;
}

.smartfilter__body_bottom, .smartfilter__inputs_block, .smartfilter__block_body, .smartfilter__performance_block, .smartfilter__range_block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}

.bx-filter-parameters-box-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  font-weight: 600;
  fonr-size: 13px;
  line-height: 17px;
  color: #3d3d3d;
}
.bx-filter-parameters-box-container > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.bx-filter-parameters-box-container input {
  background: none;
  border: none;
  cursor: pointer;
}
.bx-filter-parameters-box-container a {
  color: inherit;
  text-decoration: none;
}

.filter_expanded .smartfilter__body_bottom {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  height: initial;
}

#smartfilter {
  background-color: #F5F5F5;
  margin-bottom: 20px;
  padding: 20px;
  font: 12px/16px "Open Sans", sans-serif;
}
#smartfilter > * {
  padding-bottom: 20px;
}
#smartfilter p {
  font-family: inherit;
  font-size: inherit;
}
#smartfilter [type=submit] {
  background: none;
  border: none;
}
#smartfilter [name=set_filter] {
  background: transparent right/contain no-repeat;
  padding-right: 25px;
  border: none;
  background-size: auto 80%;
  background-position: 100% 50%;
}

.smartfilter__body {
  position: relative;
  z-index: 1;
  padding-bottom: 10px !important;
}
.smartfilter__body_bottom {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  height: 0;
  -webkit-transition: 0.2s transform, 0.2s height;
  transition: 0.2s transform, 0.2s height;
}
.smartfilter__body_bottom > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 10px 0 0;
}
.smartfilter__body_bottom > *:last-child {
  margin: 0;
}
.smartfilter__footer {
  border-top: 1px solid #E3E3E3;
  padding: 20px 0 0 !important;
  position: relative;
  z-index: 0;
}
.smartfilter__footer p {
  padding: 0 0 20px;
}
.smartfilter__footer .advanced_filter {
  text-align: center;
  color: #C79F00;
  margin: 0 auto;
  text-decoration: underline;
  cursor: pointer;
}
.smartfilter__footer .advanced_filter > span {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.smartfilter__footer .advanced_filter > span:before {
  position: absolute;
  content: "";
  border: 2px solid;
  width: 7px;
  height: 7px;
  border-width: 2px 0 0 2px;
  right: 0;
  transform: rotate(-135deg);
  top: calc(50% - 5px);
  -webkit-transition: 0.2s transform;
  transition: 0.2s transform;
}
.smartfilter__footer .advanced_filter > span.expanded:before {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
.smartfilter__inputs_block {
  position: relative;
  z-index: 1;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.smartfilter__inputs_header {
  font-weight: 600;
  margin-bottom: 10px;
}
.smartfilter__inputs_footer {
  margin-top: auto;
}
.smartfilter__inputs_footer > * {
  margin-bottom: 10px;
}
.smartfilter__inputs_footer > *:last-child {
  margin: 0;
}
.smartfilter__block_body {
  margin-top: auto;
}
.smartfilter__block_body > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  padding: 0 10px 0 0;
}
.smartfilter__block_body > *:last-child {
  padding: 0;
}
.smartfilter__block_title {
  font-weight: 600;
  margin-bottom: 10px;
}
.smartfilter__performance_block {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.smartfilter__performance_block .smartfilter__block_body {
  display: block;
}
.smartfilter__performance_block .smartfilter__block_body > * {
  padding: 0 0 10px;
}
.smartfilter__performance_block .smartfilter__block_body > *:last-child {
  padding: 0;
}
.smartfilter__range_block {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.smartfilter__fraction_block .smartfilter__block_body {
  height: 100%;
}
.smartfilter__list {
  column-count: 2;
}
.smartfilter__list > * {
  width: 100%;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin: 0;
}
.smartfilter__list .wrap__radio .checkmark {
  height: 16px;
  width: 16px;
  top: calc(50% - 8px);
}
.smartfilter__list .wrap__radio .checkmark:before {
  height: 8px;
  width: 8px;
}
.smartfilter__list--icons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.smartfilter__list--icons > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.smartfilter__list--icons .wrap__radio {
  padding: 15px 45px 15px 45px;
  width: 110px;
}
.smartfilter__list--icons .wrap__radio .checkmark {
  height: 40px;
  width: 40px;
  top: calc(50% - 20px);
  left: 0;
  border: none;
  border-radius: initial;
  background: transparent center/contain no-repeat;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.smartfilter__list--icons .wrap__radio .checkmark:before {
  display: none;
}
.smartfilter__list--icons .wrap__radio input:checked ~ .checkmark {
  opacity: 1;
}
.smartfilter__list--icons .wrap__radio[disabled] .checkmark {
  background-color: #0b0b0b;
  background-blend-mode: difference;
}
.smartfilter__list--icons .wrap__radio:before {
  position: absolute;
  content: "";
  background: url(/images/icons/info.svg) center/contain no-repeat;
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  right: 0;
}
.smartfilter__list--icons .wrap__radio:last-child:before {
  display: none;
}
.smartfilter__info {
  position: relative;
  padding: 0 0 14px 34px;
  background: url(/images/icons/info.svg) left/contain no-repeat;
  background-size: 20px auto;
  background-position: 0 2px;
  cursor: pointer;
}
.smartfilter__info:after {
  position: absolute;
  content: "";
  border: 2px solid #848484;
  width: 7px;
  height: 7px;
  border-width: 2px 0 0 2px;
  left: calc(50% - 10px);
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.smartfilter__info_content {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.smartfilter__info_content:after {
  position: absolute;
  content: "";
  background: linear-gradient(to bottom, transparent, whitesmoke);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.smartfilter__info.expanded:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.smartfilter__info.expanded .smartfilter__info_content {
  height: initial;
}
.smartfilter__info.expanded .smartfilter__info_content:after {
  opacity: 0;
}

.block_164 {
  width: initial;
}
.block_78 {
  z-index: 4;
}
.block_81 {
  z-index: 3;
}
.block_80 {
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #smartfilter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .smartfilter__body_bottom, .smartfilter__block_body {
    display: block;
  }
  .smartfilter__body_bottom > *, .smartfilter__block_body > * {
    padding: 0 0 20px;
    margin: 0;
  }
  .smartfilter__body_bottom > *:last-child, .smartfilter__block_body > *:last-child {
    padding: 0;
  }
  .smartfilter__list {
    column-count: unset;
    max-height: unset;
  }
  .smartfilter__list--icons {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .smartfilter__list--icons > * {
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
