@import "../../../../css/variables"

.breadcrumbs
    &:after
         clear: both
         content: ""
         display: block
    li
        background: url("/images/breadcrumbs.png") no-repeat left center
        float: left
        margin-right: 6px
        padding-left: 12px
        margin-bottom: 3px
        > a, span
            color: #8e8e8e
            display: block
            font-size: 13px
            text-decoration: underline
        &:first-child
            background: none
            padding-left: 0
            a
                background: url("/images/icon-home.png") no-repeat left 3px
                height: 14px
                text-indent: -9999px
                width: 15px