.breadcrumbs:after {
  clear: both;
  content: "";
  display: block;
}
.breadcrumbs li {
  background: url("/images/breadcrumbs.png") no-repeat left center;
  float: left;
  margin-right: 6px;
  padding-left: 12px;
  margin-bottom: 3px;
}
.breadcrumbs li > a, .breadcrumbs li span {
  color: #8e8e8e;
  display: block;
  font-size: 13px;
  text-decoration: underline;
}
.breadcrumbs li:first-child {
  background: none;
  padding-left: 0;
}
.breadcrumbs li:first-child a {
  background: url("/images/icon-home.png") no-repeat left 3px;
  height: 14px;
  text-indent: -9999px;
  width: 15px;
}

/*# sourceMappingURL=style.css.map */
