.wrap__text {
  display: inline-block;
  position: relative;
}
.wrap__text input {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 18px 12px;
  font: 12px/14px "Helios Normal", sans-serif;
}
.wrap__text .text__error {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 100%;
  width: 100%;
  font: 10px/1 "Open Sans", sans-serif;
  color: red;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 2;
}
.wrap__text.invalid .text__error {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
