@import "../../../templates/Putzmeister/css/variables"

.wrap__text
    display: inline-block
    position: relative
    input
        display: inline-block
        width: 100%
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 2px
        padding: 18px 12px
        font: 12px/14px $ff
    .text__error
        position: absolute
        opacity: 0
        left: 0
        top: 100%
        width: 100%
        font: 10px/1 $ffr
        color: red
        -webkit-transition: opacity 0.5s
        transition: opacity 0.5s
        z-index: 2
    &.invalid
        .text__error
            opacity: 1