.w-history
    margin-bottom: 30px
    position: relative
    font: 17px/normal Arial, sans-serif
    .tabs
        padding-right: 216px
        &:after
            clear: both
            content: ""
            display: block
    .photo-b
        float: right
        margin-right: -216px
        width: 200px
        img
            border: 1px solid #ececed
            display: inline-block
            margin-bottom: 15px
            padding: 5px
            vertical-align: top
            width: 100%
    .history-events
        background: #fff
        border: 1px solid #ececed
        float: left
        margin-bottom: 20px
        position: relative
        width: 100%
        .caption
            color: #454545
            font-size: 28px
            font-weight: 700
            padding: 10px

        > ul
            color: #74747c
            font-size: 17px
            > li
                background: url("/images/list-style.png") no-repeat 4px 22px
                padding: 15px
                position: relative
                &:after
                    background-color: #ececed
                    content: ""
                    display: block
                    height: 1px
                    left: 15px
                    position: absolute
                    right: 15px
                    top: 0

                h4
                    color: #454545
                    margin-bottom: 3px

.nav-tabs
    margin-bottom: 20px
    width: 100%
    li
        display: table-cell
        position: relative
        flex-basis: 80px
        margin-bottom: 10px
        a
            color: #3d3d3d
            display: block
            font-size: 17px
            padding: 40px 0 0
            position: relative
            text-decoration: none
            &:before
                background-color: #ececed
                content: ""
                display: block
                height: 2px
                left: 0
                position: absolute
                top: 18px
                width: 100%
            &:hover
                .point span
                    background-color: #f0d200
                color: #a46e2e
            &.active
                color: #3d3d3d
                &:before
                    background-color: #f0d200

                .point
                    border-color: #f0d200
                    span
                        background-color: #f0d200
    .point
        background-color: #fff
        border: 4px solid #ececed
        border-radius: 100%
        height: 36px
        left: 0
        position: absolute
        top: 0
        width: 36px
        > span
            background-color: #ececed
            border: 4px solid #fff
            border-radius: 100%
            display: block
            height: 100%
            left: 0
            position: absolute
            top: 0
            width: 100%
    li.last
        a
            padding-right: 30px
        &:after
            background-color: #fff
            border-top: 2px dotted #ececed
            content: ""
            display: block
            height: 2px
            position: absolute
            right: 0
            top: 18px
            width: 25px
            z-index: 2
        &.active:after
            border-color: #f0d200
