.w-history {
  margin-bottom: 30px;
  position: relative;
  font: 17px/normal Arial, sans-serif;
}
.w-history .tabs {
  padding-right: 216px;
}
.w-history .tabs:after {
  clear: both;
  content: "";
  display: block;
}
.w-history .photo-b {
  float: right;
  margin-right: -216px;
  width: 200px;
}
.w-history .photo-b img {
  border: 1px solid #ececed;
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px;
  vertical-align: top;
  width: 100%;
}
.w-history .history-events {
  background: #fff;
  border: 1px solid #ececed;
  float: left;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.w-history .history-events .caption {
  color: #454545;
  font-size: 28px;
  font-weight: 700;
  padding: 10px;
}
.w-history .history-events > ul {
  color: #74747c;
  font-size: 17px;
}
.w-history .history-events > ul > li {
  background: url("/images/list-style.png") no-repeat 4px 22px;
  padding: 15px;
  position: relative;
}
.w-history .history-events > ul > li:after {
  background-color: #ececed;
  content: "";
  display: block;
  height: 1px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 0;
}
.w-history .history-events > ul > li h4 {
  color: #454545;
  margin-bottom: 3px;
}

.nav-tabs {
  margin-bottom: 20px;
  width: 100%;
}
.nav-tabs li {
  display: table-cell;
  position: relative;
  flex-basis: 80px;
  margin-bottom: 10px;
}
.nav-tabs li a {
  color: #3d3d3d;
  display: block;
  font-size: 17px;
  padding: 40px 0 0;
  position: relative;
  text-decoration: none;
}
.nav-tabs li a:before {
  background-color: #ececed;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 100%;
}
.nav-tabs li a:hover {
  color: #a46e2e;
}
.nav-tabs li a:hover .point span {
  background-color: #f0d200;
}
.nav-tabs li a.active {
  color: #3d3d3d;
}
.nav-tabs li a.active:before {
  background-color: #f0d200;
}
.nav-tabs li a.active .point {
  border-color: #f0d200;
}
.nav-tabs li a.active .point span {
  background-color: #f0d200;
}
.nav-tabs .point {
  background-color: #fff;
  border: 4px solid #ececed;
  border-radius: 100%;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}
.nav-tabs .point > span {
  background-color: #ececed;
  border: 4px solid #fff;
  border-radius: 100%;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.nav-tabs li.last a {
  padding-right: 30px;
}
.nav-tabs li.last:after {
  background-color: #fff;
  border-top: 2px dotted #ececed;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
  top: 18px;
  width: 25px;
  z-index: 2;
}
.nav-tabs li.last.active:after {
  border-color: #f0d200;
}

/*# sourceMappingURL=style.css.map */
