.multicard__top, .multicard__pump {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.multicard__top > *, .multicard__pump > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.multicard__top {
  margin-bottom: 60px;
}
.multicard__top > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.multicard__top_side {
  width: 40%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.multicard__top_side > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  margin-bottom: 20px;
}
.multicard__top_side > *:last-child {
  margin-bottom: 0;
}
.multicard__top_side .btn {
  width: 100%;
}
.multicard__pump {
  -webkit-align-items: center;
  align-items: center;
  margin-top: 20px;
}
.multicard__pump > * {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 10px;
}
.multicard__pump > *:last-child {
  margin: 0;
}
.multicard__pump {
  -webkit-align-items: center;
  align-items: center;
}
.multicard__features {
  background-color: #ECECED;
  padding: 20px 20px 20px 35px;
  font: 12px/15px "Open Sans", sans-serif;
}
.multicard__bottom {
  font-size: 14px;
}
.multicard__bottom > * {
  margin-bottom: 20px;
}
.multicard__table {
  border: none;
  text-align: left;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 40px;
  font: 12px/17px "Open Sans", sans-serif;
}
.multicard__table thead {
  font-weight: 600;
  background-color: #DEDEDE;
}
.multicard__table th, .multicard__table td {
  padding: 15px;
}
.multicard__table th {
  text-align: center;
}
.multicard__table th:first-child {
  text-align: left;
}
.multicard__table td {
  position: relative;
  border: none;
  border-bottom: 1px solid #E3E3E3;
}
.multicard__table td:nth-child(2n) {
  background-color: #F5F5F5;
}
.multicard__table ul {
  list-style: inside radial-gradient(#e2ce00 60%, transparent 60%);
}
.multicard__table p {
  font: bold 12px/19px "Open Sans", sans-serif;
}
.multicard__table .legend {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 9px);
}
.multicard__legend {
  position: relative;
}
.multicard__legend > * {
  margin: 0 20px 20px 0;
}
.multicard__legend > *:last-child {
  margin-right: 0;
}
.multicard__labels {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.multicard__labels .label {
  padding: 6px 10px;
  display: block;
  float: right;
  margin-left: 6px;
  font-size: 16px;
  border-radius: 0;
  background-color: #3d8800;
}
.multicard__labels .label.HIT {
  background-color: red;
}
.multicard__slider {
  display: none;
  position: relative;
  margin-bottom: 20px;
}
.multicard__slider.slick-initialized {
  display: block;
}
.multicard__slider_container {
  position: relative;
  width: 60%;
  margin-right: 20px;
}
.multicard__slider_container > .gallery-item {
  width: 100%;
}
.multicard__slider_container > .gallery-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  -o-object-fit: contain;
  object-fit: contain;
}
.multicard__slider .slick-slide a {
  display: inline-block;
  width: 100%;
}
.multicard__slider .slick-slide img {
  position: relative;
  width: 100%;
  height: 100vw;
  max-height: 400px;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: filter 0.2s;
  transition: filter 0.2s;
}
.multicard__slider .slick-slide:hover img {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}
.multicard__slider_dots {
  display: none;
}
.multicard__slider_dots.slick-initialized {
  display: block;
}
.multicard__slider_dots .slick-slide {
  position: relative;
  padding: 0 15px;
}
.multicard__slider_dots .slick-slide img {
  position: relative;
  width: 100%;
  height: 30vw;
  max-height: 90px;
  -o-object-fit: cover;
  object-fit: cover;
}
.multicard__slider_dots .slick-arrow {
  position: absolute;
  left: 2px;
  top: calc(50% - 3px);
}
.multicard__slider_dots .slick-arrow.next {
  left: initial;
  right: 0;
}
.multicard__divisor {
  background-color: #adadad;
  width: 1px;
  -webkit-align-self: stretch;
  align-self: stretch;
}
.multicard__buy_button {
  display: inline-block;
  width: 100%;
  background-color: #ececed;
  text-align: center;
  padding: 10px;
  text-decoration: dashed underline;
  -webkit-transition: text-decoration-color 0.2s;
  transition: text-decoration-color 0.2s;
}
.multicard__buy_button:hover {
  text-decoration-color: transparent;
}
.multicard__links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font: bold 13px/normal "Open Sans", sans-serif;
}
.multicard__link {
  display: inline-block;
  background: transparent left/contain no-repeat;
  padding: 6px 0 6px 35px;
  background-size: 26px auto;
  background-position: 0 100%;
}
.multicard__link:hover {
  background-blend-mode: difference;
}
.multicard__link.docs {
  background-image: linear-gradient(#ffffff7a, #ffffff7a), url(/images/icon-doc.png);
}
.multicard__link.scopes {
  background-image: linear-gradient(#ffffff7a, #ffffff7a), url(/images/icon-setting.png);
}
.multicard__details p img, .multicard__details table img {
  width: auto;
  max-height: 300px;
  max-width: 100%;
  margin: auto;
  display: block;
}
.multicard__details p, .multicard__details ul {
  font: 14px/2 "Open Sans", sans-serif;
  margin: 20px 0;
}
.multicard__details ul {
  list-style-image: linear-gradient(#f3f300, #f3f300);
  list-style-position: inside;
}
.multicard__details table {
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  min-width: 100%;
}
.multicard__details table tr:first-child td, .multicard__details table tr:nth-child(3n) td {
  background-color: #efefef;
}
.multicard__details table tr:nth-child(2n) td {
  background-color: #dcdcdc;
}
.multicard__details table td {
  padding: 10px;
  line-height: 2;
  vertical-align: top;
}
.multicard__details table td p {
  margin: 0;
}

span.legend {
  position: relative;
  height: 18px;
  padding-left: 30px;
  display: inline-block;
}
span.legend:before, span.legend:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 0;
  left: 0;
}
span.legend.standart:before {
  background-color: #3D3D3D;
  border: 1px solid #3D3D3D;
  border-radius: 3px;
}
span.legend.standart:after {
  width: 6px;
  height: 9px;
  left: 6px;
  top: calc(50% - 6px);
  border: 1px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
span.legend.custom:before {
  background-color: white;
  border: 1px solid #3D3D3D;
  border-radius: 3px;
}
span.legend.not_available:before {
  height: 0;
  background-color: black;
  border: 1px solid;
  top: 50%;
}

.pump_ready {
  height: 38px;
  width: 38px;
  position: relative;
}
.pump_ready > img, .pump_ready svg {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  top: 0;
  left: 0;
}

.accordion > *, .accordion__couple > * {
  margin-bottom: 10px;
}
.accordion__header {
  font-weight: 600;
  position: relative;
}
.accordion__header:before {
  position: absolute;
  content: "";
  left: -19px;
  width: 5px;
  height: 5px;
  top: calc(50% - 4px);
  border: 1px solid;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}

.model__SEO {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 40px;
}
.model__SEO > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}
.model__SEO .html_content {
  -ms-flex-order: 1;
  order: -1;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  font: 16px/normal "Open Sans", sans-serif;
  padding: 0 20px 0 0;
}
.model__SEO .html_content ul {
  font-family: "Helios Normal", sans-serif !important;
  list-style-image: -webkit-radial-gradient(#ffca00 70%, transparent 70%);
  list-style: inside radial-gradient(#ffca00 70%, transparent 70%);
}
.model__SEO .html_content h2, .model__SEO .html_content h3 {
  font: 16px/26px "Helios Bold", sans-serif !important;
  text-transform: unset;
}
.model__slider {
  max-width: 30%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.model__slider > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 0 10px;
}
.model__slider > *:last-child {
  margin: 0;
}
.model__slider > * img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.raw-slider {
  margin-right: -15px;
  margin-left: -15px;
}
.raw-slider .slick-slide {
  padding: 0 15px;
}
.raw-slider .slick-slide img {
  height: 60vw;
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.raw-slider .slick-arrow {
  position: absolute;
  left: 2px;
  top: calc(50% - 3px);
  z-index: 2;
}
.raw-slider .slick-arrow.next {
  left: initial;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .multicard__slider .slick-slide img {
    max-height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .multicard__top {
    display: block;
  }
  .multicard__top > * {
    width: 100%;
    margin: 0 0 30px;
  }
  .multicard__top > *:last-child {
    margin: 0;
  }
  .multicard__top_side .btn {
    width: initial;
  }
  .multicard__bottom {
    overflow-x: auto;
  }
  .multicard__bottom::-webkit-scrollbar {
    height: 0;
  }
  .multicard__table {
    width: initial;
    min-width: 100%;
    white-space: nowrap;
  }
  .multicard__slider .slick-slide img {
    max-height: initial;
  }
  .multicard__slider_dots .slick-slide {
    padding: 0 5px;
  }
  .multicard__slider_dots .slick-slide img {
    max-height: 200px;
  }

  .model__SEO {
    display: block;
  }
  .model__SEO > * {
    width: 100% !important;
  }
  .model__SEO .html_content {
    padding: 0;
  }
  .model__slider {
    max-width: initial;
    margin-bottom: 20px;
  }
  .model__slider .slick-slide img {
    height: 60vw;
    max-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .raw-slider .slick-arrow {
    left: 30px;
  }
  .raw-slider .slick-arrow.next {
    right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
