@import "../../../../../../../css/variables"

.multicard
    &__top, &__pump
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        > *
            -webkit-flex: 1 1 auto
            -ms-flex: 1 1 auto
            flex: 1 1 auto
    &__top
        margin-bottom: 60px
        > *
            -webkit-flex: 1 1 auto
            -ms-flex: 1 1 auto
            flex: 1 1 auto
        &_side
            width: 40%
            display: -webkit-flex
            display: -ms-flexbox
            display: flex
            -webkit-flex-direction: column
            flex-direction: column
            > *
                -webkit-flex: 0 1 auto
                -ms-flex: 0 1 auto
                flex: 0 1 auto
                width: 100%
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
            .btn
                width: 100%
    &__pump
        -webkit-align-items: center
        align-items: center
        margin-top: 20px
        > *
            -webkit-flex: 0 0 auto
            -ms-flex: 0 0 auto
            flex: 0 0 auto
            margin-right: 10px
            &:last-child
                margin: 0
    &__pump
        -webkit-align-items: center
        align-items: center
    &__features
        background-color: #ECECED
        padding: 20px 20px 20px 35px
        font: 12px/15px $ffr
    &__bottom
        font-size: 14px
        > *
            margin-bottom: 20px
    &__table
        border: none
        text-align: left
        table-layout: fixed
        width: 100%
        margin-bottom: 40px
        font: 12px/17px $ffr
        thead
            font-weight: 600
            background-color: #DEDEDE
        th, td
            padding: 15px
        th
            text-align: center
            &:first-child
                text-align: left
        td
            position: relative
            border: none
            border-bottom: 1px solid #E3E3E3
            &:nth-child(2n)
                background-color: #F5F5F5
        ul
            list-style: inside radial-gradient(#e2ce00 60%, transparent 60%)
        p
            font: bold 12px/19px $ffr
        .legend
            position: absolute
            left: calc(50% - 8px)
            top: calc(50% - 9px)
    &__legend
        position: relative
        > *
            margin: 0 20px 20px 0
            &:last-child
                margin-right: 0
    &__labels
        position: absolute
        width: 100%
        top: 0
        left: 0
        .label
            padding: 6px 10px
            display: block
            float: right
            margin-left: 6px
            font-size: 16px
            border-radius: 0
            background-color: #3d8800
            &.HIT
                background-color: red

    &__slider
        display: none
        &.slick-initialized
            display: block
        position: relative
        margin-bottom: 20px
        &_container
            position: relative
            width: 60%
            margin-right: 20px
            > .gallery-item
                width: 100%
                img
                    width: 100%
                    height: auto
                    max-height: 400px
                    -o-object-fit: contain
                    object-fit: contain
        .slick
            &-slide
                a
                    display: inline-block
                    width: 100%
                img
                    position: relative
                    width: 100%
                    height: 100vw
                    max-height: 400px
                    -webkit-filter: brightness(1)
                    filter: brightness(1)
                    -o-object-fit: contain
                    object-fit: contain
                    -webkit-transition: filter 0.2s
                    transition: filter 0.2s
                &:hover
                    img
                        -webkit-filter: brightness(0.4)
                        filter: brightness(0.4)
        &_dots
            display: none
            &.slick-initialized
                display: block
            .slick
                &-slide
                    position: relative
                    padding: 0 15px
                    img
                        position: relative
                        width: 100%
                        height: 30vw
                        max-height: 90px
                        -o-object-fit: cover
                        object-fit: cover
                &-arrow
                    position: absolute
                    left: 2px
                    top: calc(50% - 3px)
                    &.next
                        left: initial
                        right: 0
    &__divisor
        background-color: #adadad
        width: 1px
        -webkit-align-self: stretch
        align-self: stretch
    &__buy_button
        display: inline-block
        width: 100%
        background-color: #ececed
        text-align: center
        padding: 10px
        text-decoration: dashed underline
        -webkit-transition: text-decoration-color 0.2s
        transition: text-decoration-color 0.2s
        &:hover
            text-decoration-color: transparent
    &__links
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        -webkit-justify-content: space-between
        justify-content: space-between
        font: bold 13px/normal $ffr
    &__link
        display: inline-block
        background: transparent left/contain no-repeat
        padding: 6px 0 6px 35px
        background-size: 26px auto
        background-position: 0 100%
        &:hover
            background-blend-mode: difference
        &.docs
            background-image: linear-gradient(#ffffff7a, #ffffff7a), url(/images/icon-doc.png)
        &.scopes
            background-image: linear-gradient(#ffffff7a, #ffffff7a), url(/images/icon-setting.png)
    &__details
        p img, table img
            width: auto
            max-height: 300px
            max-width: 100%
            margin: auto
            display: block
        p, ul
            font: 14px/2 $ffr
            margin: 20px 0
        ul
            list-style-image: linear-gradient(#f3f300, #f3f300)
            list-style-position: inside
        table
            border: 1px solid #e6e6e6
            border-collapse: collapse
            min-width: 100%
            tr
                &:first-child, &:nth-child(3n)
                    td
                        background-color: #efefef
                &:nth-child(2n)
                    td
                        background-color: #dcdcdc
            td
                padding: 10px
                line-height: 2
                vertical-align: top
                p
                    margin: 0

span.legend
    position: relative
    height: 18px
    padding-left: 30px
    display: inline-block
    &:before, &:after
        position: absolute
        content: ''
        height: 18px
        width: 18px
        top: 0
        left: 0
    &.standart
        &:before
            background-color: #3D3D3D
            border: 1px solid #3D3D3D
            border-radius: 3px
        &:after
            width: 6px
            height: 9px
            left: 6px
            top: calc(50% - 6px)
            border: 1px solid white
            border-width: 0 2px 2px 0
            transform: rotate(45deg)
    &.custom
        &:before
            background-color: white
            border: 1px solid #3D3D3D
            border-radius: 3px
    &.not_available
        &:before
            height: 0
            background-color: black
            border: 1px solid
            top: 50%

.pump_ready
    height: 38px
    width: 38px
    position: relative
    > img, svg
        position: absolute
        height: 100%
        width: 100%
        -o-object-fit: contain
        object-fit: contain
        top: 0
        left: 0

.accordion
    > *, &__couple > *
        margin-bottom: 10px
    &__header
        font-weight: 600
        position: relative
        &:before
            position: absolute
            content: ''
            left: -19px
            width: 5px
            height: 5px
            top: calc(50% - 4px)
            border: 1px solid
            border-width: 0 2px 2px 0
            transform: rotate(-45deg)

.model
    &__SEO
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        margin-bottom: 40px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 100%
        .html_content
            -ms-flex-order: 1
            order: -1
            -webkit-flex: 0 1 auto
            flex: 0 1 auto
            font: 16px/normal $ffr
            padding: 0 20px 0 0
            ul
                font-family: $ff !important
                list-style-image: -webkit-radial-gradient(#ffca00 70%, transparent 70%)
                list-style: inside radial-gradient(#ffca00 70%, transparent 70%)
            h2, h3
                font: 16px/26px $ffb !important
                text-transform: unset
    &__slider
        max-width: 30%
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        -webkit-flex-direction: column
        -ms-flex-direction: column
        flex-direction: column
        -webkit-justify-content: space-between
        justify-content: space-between
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            margin: 0 0 10px
            &:last-child
                margin: 0
            img
                width: 100%
                height: auto
                -o-object-fit: contain
                object-fit: contain


.raw-slider
    margin-right: -15px
    margin-left: -15px
    .slick
        &-slide
            padding: 0 15px
            img
                height: 60vw
                max-height: 300px
                width: 100%
                -o-object-fit: cover
                object-fit: cover
        &-arrow
            position: absolute
            left: 2px
            top: calc(50% - 3px)
            z-index: 2
            &.next
                left: initial
                right: 0


@media screen and (max-width: 1024px)
    .multicard
        &__slider
            .slick-slide img
                max-height: 500px

@media screen and (max-width: 768px)
    .multicard
        &__top
            display: block
            > *
                width: 100%
                margin: 0 0 30px
                &:last-child
                    margin: 0
            &_side .btn
                width: initial
        &__bottom
            overflow-x: auto
            &::-webkit-scrollbar
                height: 0
        &__table
            width: initial
            min-width: 100%
            white-space: nowrap
        &__slider
            .slick-slide img
                max-height: initial
            &_dots
                .slick-slide
                    padding: 0 5px
                    img
                        max-height: 200px

    .model
        &__SEO
            display: block
            > *
                width: 100% !important
            .html_content
                padding: 0
        &__slider
            max-width: initial
            margin-bottom: 20px
            .slick-slide
                img
                    height: 60vw
                    max-height: 400px
                    -o-object-fit: cover
                    object-fit: cover
    .raw-slider .slick-arrow
        left: 30px
        &.next
            right: 30px
