.contacts__rows > * {
  margin-bottom: 20px;
}
.contacts__rows > *:last-child {
  margin-bottom: 0;
}
.contacts__rows, .contacts__footer {
  font-size: 21px;
  line-height: 26px;
}
.contacts__row {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}
.contacts__row:first-child {
  border-top: 1px solid #d8d8d8;
  padding-top: 20px;
}
.contacts__row_title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 34px;
  position: relative;
  padding-left: 30px;
}
.contacts__row_title:before {
  position: absolute;
  content: "";
  background-color: #ffcf00;
  width: 18px;
  height: 33px;
  left: 0;
  top: 1px;
  border-radius: 0 12px 12px 0;
}
.contacts__jur {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}
.contacts__jur > * {
  display: inline-block;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 13px;
}
.contacts__jur > *:last-child {
  margin-right: 0;
}
.contacts__persons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
}
.contacts__persons > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 33.3%;
  padding: 15px;
}
.contacts__persons [href*=mailto] {
  color: #0686ef;
  text-decoration: underline #0686ef;
  -webkit-transition: text-decoration-color 0.2s;
  transition: text-decoration-color 0.2s;
}
.contacts__persons [href*=mailto]:hover {
  text-decoration-color: transparent;
}
.contacts__footer {
  font-size: 30px;
  line-height: 34px;
}
.contacts__footer > * {
  margin: 40px 0;
}

.person__name {
  margin-bottom: 20px;
}
.person__position {
  color: #929292;
}
.person__contacts {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .contacts__persons > * {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .contacts__persons, .contacts__jur {
    display: block;
  }
  .contacts__persons > *, .contacts__jur > * {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .contacts__persons > *:last-child, .contacts__jur > *:last-child {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
