.contacts
    &__rows
        > *
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
    &__rows, &__footer
        font-size: 21px
        line-height: 26px
    &__row
        border-bottom: 1px solid #d8d8d8
        padding-bottom: 20px
        &:first-child
            border-top: 1px solid #d8d8d8
            padding-top: 20px
        &_title
            margin-bottom: 20px
            font-size: 30px
            line-height: 34px
            position: relative
            padding-left: 30px
            &:before
                position: absolute
                content: ''
                background-color: #ffcf00
                width: 18px
                height: 33px
                left: 0
                top: 1px
                border-radius: 0 12px 12px 0
    &__jur
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        font-size: 15px
        > *
            display: inline-block
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            margin-right: 13px
            &:last-child
                margin-right: 0
    &__persons
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-flex-wrap: wrap
        flex-wrap: wrap
        margin: -15px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 33.3%
            padding: 15px
        [href*="mailto"]
            color: #0686ef
            text-decoration: underline #0686ef
            -webkit-transition: text-decoration-color 0.2s
            transition: text-decoration-color 0.2s
            &:hover
                text-decoration-color: transparent
    &__footer
        font-size: 30px
        line-height: 34px
        > *
            margin: 40px 0

.person
    &__name
        margin-bottom: 20px
    &__position
        color: #929292
    &__contacts
        font-size: 16px


@media screen and (max-width: 1024px)
    .contacts__persons > *
        width: 50%

@media screen and (max-width: 768px)
    .contacts
        &__persons, &__jur
            display: block
            > *
                width: 100% !important
                margin: 0 0 30px
                &:last-child
                    margin: 0
