@charset "UTF-8";
.service_index {
  background-color: #F7F7F7;
}
.service__tiles {
  font: 16px/20px "Helios Bold", sans-serif;
  text-transform: uppercase;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 140px 140px 140px 140px;
  grid-template-rows: repeat(7, 120px);
  grid-gap: 24px;
}
.service__tiles > *:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 2;
  grid-area: 1/1/span 3/span 2;
}
.service__tiles > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/3/span 2/span 1;
}
.service__tiles > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/4/span 2/-1;
}
.service__tiles > *:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column-span: 1;
  grid-area: 4/1/-1/span 1;
}
.service__tiles > *:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 1;
  grid-area: 4/2/span 2/span 1;
}
.service__tiles > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 2;
  grid-area: 3/3/span 3/-1;
}
.service__tiles > *:nth-child(7) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 1;
  grid-area: 6/2/-1/span 1;
}
.service__tiles > *:last-child {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 2;
  grid-area: 6/3/-1/-1;
}
.service__tile {
  height: 100%;
  position: relative;
  padding: 17px;
  color: white;
}
.service__tile > span, .service__tile > img {
  display: inline-block;
  position: relative;
}
.service__tile > img {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.service__tile_label {
  position: absolute !important;
  right: 0;
  bottom: 0;
  width: 60px !important;
  height: 50px !important;
  background-color: #ffcf00;
  opacity: 0.7;
  font-size: 12px;
  -webkit-transition: padding 0.2s, opacity 0.2s;
  transition: padding 0.2s, opacity 0.2s;
}
.service__tile_label:before {
  position: absolute;
  content: "Подробнее";
  font-size: 14px;
  line-height: 16px;
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  left: 20px;
  top: calc(50% - 7px);
  color: black;
  z-index: 1;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.service__tile_label > svg {
  width: 32px !important;
  right: 14px !important;
  position: absolute;
  height: 16px !important;
  top: calc(50% - 7px);
}
.service__tile:hover .service__tile_label {
  padding-left: 164px;
  opacity: 1;
}
.service__tile:hover .service__tile_label:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.concrete {
  border-bottom: 1px solid #f1f1f1;
}
.concrete__tiles {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  margin: 80px -15px 60px;
  font: 300 15px/24px "Open Sans Light", sans-serif;
}
.concrete__tiles > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  padding: 0 15px;
}
.concrete__tiles > *:last-child .concrete__tile_preview:before {
  left: initial;
  top: initial;
  right: 0;
  bottom: 0;
}
.concrete__tile {
  max-width: 435px;
  margin-left: auto;
  margin-right: auto;
}
.concrete__tile > * {
  margin-bottom: 40px;
}
.concrete__tile > *:last-child {
  margin: 0;
}
.concrete__tile_preview {
  position: relative;
  text-align: center;
  padding: 20px 0 20px;
  height: 120vw;
  max-height: 443px;
}
.concrete__tile_preview:before {
  position: absolute;
  content: "";
  background-color: #FFCF00;
  width: 100px;
  height: 260px;
  left: 0;
  top: 0;
}
.concrete__tile_preview > img {
  position: relative;
  width: calc(100% - 40px);
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.concrete__tile_title {
  text-align: center;
  text-transform: uppercase;
}

.advantages__tiles, .advantages__tiles--putz {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  margin: -15px;
  font: 300 12px/20px "Open Sans Light", sans-serif;
}
.advantages__tiles > *, .advantages__tiles--putz > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 15px;
  width: 100%;
}
.advantages__tile > svg, .advantages__tile--putz > svg {
  height: 49px;
  width: 49px;
}
.advantages__tile > *, .advantages__tile--putz > * {
  margin-bottom: 20px;
}
.advantages__tile > *:last-child, .advantages__tile--putz > *:last-child {
  margin: 0;
}
.advantages__tile--putz {
  position: relative;
  padding-top: 60px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}
.advantages__tile--putz .checkmark {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
}
.advantages__tile--putz .checkmark:before, .advantages__tile--putz .checkmark:after {
  position: absolute;
  content: "";
}
.advantages__tile--putz .checkmark:before {
  width: 100%;
  height: 100%;
  background-color: #FFCF00;
  top: 0;
  left: 0;
}
.advantages__tile--putz .checkmark:after {
  border: 2px solid #000000;
  width: 8px;
  height: 12px;
  border-width: 3px 0 0 3px;
  left: 18px;
  transform: rotate(-135deg);
  top: calc(50% - 8px);
  opacity: 0.5;
}
.advantages__title {
  font: 16px/20px "Helios Bold", sans-serif;
}
.advantages__banner {
  background-color: #FFCF00;
  padding: 43px;
  font: 14px/20px "Open Sans", sans-serif;
  margin-bottom: 76px !important;
}

.useful {
  background-color: #F3F3F3;
}

@media screen and (max-width: 1024px) {
  .service__tiles {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
  }
  .service__tiles > * {
    height: 50vw;
  }

  .service__tiles, .service__tiles--putz, .concrete__tiles, .concrete__tiles--putz, .advantages__tiles, .advantages__tiles--putz {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px;
  }
  .service__tiles > *, .service__tiles--putz > *, .concrete__tiles > *, .concrete__tiles--putz > *, .advantages__tiles > *, .advantages__tiles--putz > * {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50%;
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  .service__tiles > * {
    max-height: 200px;
  }

  .advantages__tiles, .advantages__tiles--putz, .concrete__tiles, .concrete__tiles--putz {
    display: block;
    margin: 0 0 30px;
  }
  .advantages__tiles > *, .advantages__tiles--putz > *, .concrete__tiles > *, .concrete__tiles--putz > * {
    width: 100%;
    padding: 0;
    margin: 0 0 30px;
  }
  .advantages__tiles > *:last-child, .advantages__tiles--putz > *:last-child, .concrete__tiles > *:last-child, .concrete__tiles--putz > *:last-child {
    margin: 0;
  }

  .advantages__tile--putz {
    padding-top: 60px;
  }
}
.info__page {
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.info__page > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.info__main {
  width: calc(75% - 15px);
  margin-right: 15px;
}
.info__main h1 {
  margin-bottom: 30px;
}
.info__side {
  width: calc(25% - 15px);
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .info__page {
    display: block;
  }
  .info__page > * {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .info__page > *:last-child {
    margin: 0;
  }
}
.search_results .wrap-container > * {
  margin-bottom: 40px;
}

.error-b {
  background: url(/images/404.jpg) no-repeat left center;
  height: 700px;
  padding-top: 150px;
  text-align: center;
  width: 100%;
}
.error-b .text-error {
  background: url(/images/404.png) no-repeat top center;
  float: right;
  padding-top: 192px;
  width: 59%;
}
.error-b h2 {
  border-bottom: 6px solid #f0d200;
  color: #909090;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.error-b h4 {
  color: #909090;
  font-size: 21px;
}
.error-b p {
  color: #3d3d3d;
  font-size: 17px;
  line-height: 27px;
}

@media screen and (max-width: 768px) {
  .error-b {
    background-position: center center;
  }
  .error-b .text-error {
    width: 100%;
  }
}
.contacts {
  padding: 20px 0 0;
}
.contacts__page {
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.contacts__page > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.contacts__main > *, .contacts__block > * {
  margin-bottom: 20px;
}
.contacts__main > *:last-child, .contacts__block > *:last-child {
  margin-bottom: 0;
}
.contacts__main {
  width: calc(40% - 15px);
  margin-right: 15px;
  font-size: 19px;
  line-height: 28px;
}
.contacts__main > * {
  margin-bottom: 20px;
}
.contacts__main > *:last-child {
  margin-bottom: 0;
}
.contacts__main dl dt {
  font-family: "Helios Black", sans-serif;
}
.contacts__main dl:not(.address) dd > * {
  margin-right: 20px;
}
.contacts__main dl:not(.address) dd > *:last-child {
  margin-right: 0;
}
.contacts__side {
  width: calc(60% - 15px);
  margin-left: 15px;
}

.main-title {
  clear: both;
  color: #929292;
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
}

.contact-info h3 {
  color: #929292;
  font-size: 22px;
  margin: 16px 0;
}
.contact-info .address {
  background: url(/images/icon-home-2.png) no-repeat left top;
  line-height: 19px;
  margin-bottom: 10px;
  padding-left: 25px;
}
.contact-info .phone {
  background: url(/images/icon-phone.png) no-repeat left top;
  padding-left: 25px;
}
.contact-info .phone dl {
  line-height: 17px;
  margin: 0 0 5px;
}
.contact-info .phone dl dd, .contact-info .phone dl dt {
  display: inline-block;
  vertical-align: top;
}
.contact-info .mail, .contact-info .phone {
  margin-bottom: 10px;
}
.contact-info .openingHours {
  display: none;
  line-height: 17px;
  margin-bottom: 10px;
  padding-left: 25px;
}
.contact-info div[itemprop=department] .openingHours {
  display: block;
}
.contact-info .rkb {
  line-height: 17px;
  padding-left: 25px;
}

.contact-info .mail, .info-lp .mail {
  background: url(/images/icon-mail.png) no-repeat left center;
  line-height: 16px;
  padding-left: 25px;
}

.map-b {
  float: right;
  position: relative;
  width: 78.2%;
}

.hr {
  display: block;
  background-color: #e3e3e3;
  clear: both;
  height: 1px;
  margin: 60px 0;
}
.hr.m {
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .contacts__page {
    display: block;
  }
  .contacts__page > * {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .contacts__page > *:last-child {
    margin: 0;
  }
}
section.cart {
  padding-bottom: 90px;
}

.tech__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tech__content > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.tech__left, .tech__right {
  width: calc(50% - 10px);
}
.tech__left {
  margin-right: 10px;
}
.tech__right {
  margin-left: 10px;
}
.tech__right p {
  max-width: 490px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .tech__content {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .tech__content > * {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .tech__right {
    order: -1;
    margin-bottom: 20px;
  }
  .tech__right p {
    margin: 0;
  }
}
.uslugi__tiles {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
  font: 18px/24px "Helios Bold", sans-serif;
  margin: -15px;
}
.uslugi__tiles > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 25%;
  padding: 15px;
}
.uslugi__tile {
  height: 100vw;
  max-height: 200px;
  padding: 120px 20px 10px;
  cursor: pointer;
}
.uslugi__tile > span {
  position: relative;
}
.uslugi__tile > img {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  -webkit-transition: filter 0.2s;
  transition: filter 0.2s;
}
.uslugi__tile:hover > img {
  filter: brightness(0.5);
}

.page-services {
  color: #3d3d3d;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.container--half {
  max-width: 900px;
}

.page-services > *, .container--half > * {
  margin-bottom: 30px;
}
.page-services > *:last-child, .container--half > *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .uslugi__tiles > * {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .uslugi__tiles {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .uslugi__tiles > * {
    width: 100%;
    padding: 0;
    margin: 0 0 30px;
  }
  .uslugi__tiles > *:last-child {
    margin: 0;
  }
  .uslugi__tile {
    max-height: 300px;
  }
}
.services > * {
  margin-bottom: 30px;
}
.services > *:last-child {
  margin-bottom: 0;
}
.services__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  font-size: 22px;
}
.services__row > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 0 15px;
  width: 100%;
}

.service__item {
  position: relative;
  height: 100%;
}
.service__item img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.7);
  -webkit-transition: filter 0.2s;
  transition: filter 0.2s;
}
.service__item a {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 100px 10px 70px;
}
.service__item:hover img {
  filter: brightness(0.4);
}

@media screen and (max-width: 768px) {
  .services__row {
    display: block;
    max-width: 400px;
    margin: 0 auto 0;
  }
  .services__row > * {
    padding: 0;
    margin: 0 0 20px;
  }
  .services__row > *:last-child {
    margin-bottom: 0;
  }
}
.news__page {
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.news__page > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.news__main {
  width: calc(75% - 15px);
  margin-right: 15px;
}
.news__main h1 {
  margin-bottom: 30px;
}
.news__side {
  width: calc(25% - 15px);
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .news__page {
    display: block;
  }
  .news__page > * {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .news__page > *:last-child {
    margin: 0;
  }
}
.regions__title, .regions__selector {
  display: inline-block;
  vertical-align: middle;
}
.regions__selector {
  float: right;
}
.regions__selector .wrap__select .select__selected {
  width: 200px;
}
.regions__legend > * {
  display: inline-block;
  margin-right: 20px;
}
.regions__legend > * > img {
  margin-right: 20px;
  vertical-align: middle;
}

#map__regions {
  width: 100%;
  height: 565px;
}

@media screen and (max-width: 768px) {
  .regions__title, .regions__legend > * {
    display: block;
    margin: 0 0 20px;
  }
  .regions__title:last-child, .regions__legend > *:last-child {
    margin-bottom: 0;
  }
  .regions__selector {
    float: unset;
  }
}
.main-rt-side {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main-rt-side > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.main-rt-side .main-side {
  position: relative;
  width: calc(75% - 30px);
  margin-right: 30px;
}
.main-rt-side .rt-side {
  position: relative;
  width: 25%;
}
.main-title {
  clear: both;
  color: #929292;
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
}
.main-title > h1 {
  background-color: #fff;
  display: inline-block;
  padding-right: 10px;
  width: 100%;
}

.rt-side .interesting-links > ul {
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}

.interesting-links {
  margin-bottom: 20px;
}
.interesting-links > ul {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}
.interesting-links > ul > li {
  background: url(/images/list-style.png) no-repeat left 6px;
  font-size: 17px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.interesting-links > ul > li a {
  color: #4182b4;
}

.text-block {
  display: block;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.text-block h1 {
  color: #929292;
  font-size: 28px;
  line-height: 30px;
}
.text-block p {
  margin-bottom: 10px;
}
.text-block.one-news > p {
  padding-bottom: 15px;
}
.text-block a {
  color: #3f82b9;
}
.text-block h4 {
  color: #929292;
  font-size: 20px;
  margin-bottom: 5px;
}

.one-news {
  text-align: justify;
}
.one-news .main-title {
  background: url(/images/icon-3.png) no-repeat left 2px;
  padding-left: 25px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .main-rt-side {
    display: block;
  }
  .main-rt-side > * {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .main-rt-side > *:last-child {
    margin: 0;
  }
}
.page__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.page__content > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.page__side {
  width: calc(25% - 15px);
  margin-right: 15px;
}
.page__side--eq {
  width: calc(50% - 15px);
}
.page__main {
  width: calc(75% - 15px);
  margin-left: 15px;
}
.page__main--eq {
  width: calc(50% - 15px);
}
.page__main > * {
  margin-bottom: 40px;
}
.page__main > *:last-child {
  margin-bottom: 0;
}
.page__heading {
  padding-bottom: 0;
}

.mf-captcha .mf-text {
  text-align: center;
  font-size: 18px;
  padding: 0 0 20px;
}
.mf-captcha .mf-text.warning {
  color: red;
}

.html_content > *, .html_content > div:not(.image-container--row) > * {
  margin-bottom: 30px;
}
.html_content > *:last-child, .html_content > div:not(.image-container--row) > *:last-child {
  margin-bottom: 0;
}
.html_content *:not(h1):not(h2):not(h3):not(h4):not(h5):not(a) {
  font: 14px/180% "Open Sans", sans-serif;
}
.html_content dd {
  margin-inline-start: 0;
}
.html_content dt {
  text-decoration: underline;
}
.html_content ul {
  list-style: inside radial-gradient(#ffdd16 80%, transparent 80%);
}
.html_content ul li {
  padding: 6px 0;
}
.html_content table {
  width: 100%;
  font: 15px/18px "Open Sans", sans-serif;
}
.html_content table td {
  border: 1px solid #e8e8e8;
  padding: 6px 10px;
  vertical-align: top;
}
.html_content img, .html_content iframe {
  max-width: 100%;
}
.html_content img {
  height: auto;
}
.html_content strong {
  font-weight: inherit;
}
.html_content em {
  font-style: inherit;
}
.html_content p img {
  margin: 20px 0;
}

.service-request {
  background: url(/images/bckgrnd_1.png) center/cover no-repeat;
  text-align: center;
  width: 100%;
  padding: 40px 20px;
}
.service-request h2 {
  color: white;
  -ms-flex-preferred-size: 100%;
  font: 32px/45px "Helios Normal", sans-serif;
  max-width: 600px;
  margin: 0 auto 40px;
}
.service-contacts, .service-prices, .service-advs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.service-contacts > *, .service-prices > *, .service-advs > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 0 15px;
  width: 100%;
}
.service-contacts__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 20px;
}
.service-contacts__item-title img {
  height: 24px;
  margin-right: 5px;
  min-width: 24px;
}
.service-prices__item {
  background-color: #f7f7f7;
  border: 1px solid #d0d0d0;
  height: 100%;
}
.service-prices__item-title {
  border-bottom: 1px solid #d0d0d0;
  color: #888;
  font-size: 1.6em;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  min-height: 80px;
}
.service-prices__item-time {
  font-size: 1.4em;
  padding-top: 25px;
  text-align: center;
}
.service-prices__item-price {
  color: #f0d200;
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}
.service-advs__item-title {
  color: #888;
  font-size: 1.6em;
  font-weight: 300;
  padding-bottom: 20px;
  position: relative;
}
.service-advs__item-title:after {
  background-color: #888;
  bottom: 0;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  width: 50px;
}
.service-advs__item-descr {
  padding-top: 20px;
}
.service-contacts__item-email, .service-contacts__item-name, .service-contacts__item-phone, .service-contacts__item-worktime {
  padding-left: 35px;
}

.image-container--row {
  margin-left: -15px;
  margin-right: -15px;
}
.image-container--row img {
  width: calc(50% - 2px);
  height: 300px;
  padding: 0 15px;
  -o-object-fit: cover;
  object-fit: cover;
}

blockquote {
  border-left: 8px solid #f0d200;
  color: #939393;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.4;
  margin-left: 0;
  margin-right: 0;
  padding-left: 30px;
}

@media screen and (max-width: 1024px) {
  .page__content {
    display: block;
  }
  .page__content > * {
    width: 100%;
    margin: 0 0 30px;
  }
  .page__side {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  img {
    float: unset !important;
  }

  .service-contacts, .service-prices, .service-advs {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .service-contacts > *, .service-prices > *, .service-advs > * {
    padding: 0;
    margin: 0 0 20px;
  }
  .service-contacts > *:last-child, .service-prices > *:last-child, .service-advs > *:last-child {
    margin-bottom: 0;
  }
  .service-request h2 {
    font-size: 25px;
    line-height: 1.5;
  }

  .image-container--row {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .image-container--row img {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0;
    margin-bottom: 20px;
  }
  .image-container--row img:last-child {
    margin-bottom: 0;
  }

  .html_content table {
    white-space: nowrap;
    width: initial;
    overflow-x: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
