@import "css/variables"
@import "css/header"
@import "css/footer"
@import "css/icons"
@import "css/fonts"
@import "css/inputs"
@import "css/form"
@import "css/base"
@import "css/buttons"
@import "css/animation"
@import "css/adaptive"
@import "css/bootstrap-theme"
@import "css/modals"
@import "css/preloader"
@import "css/tooltip"

.btn--up
    -webkit-transform: scale(0)
    transform: scale(0)
    position: fixed
    right: 30px
    bottom: 30px
    z-index: 999
    -webkit-transition: transform 0.2s
    transition: transform 0.2s