@charset "UTF-8";
.header {
  position: relative;
}
.header__top_row, .header__bottom_row, .header__outer_links, .header__contacts, .header__consult {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.header__top_row > *, .header__bottom_row > *, .header__outer_links > *, .header__contacts > *, .header__consult > * {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.header__top_row__top .wrap-container > *, .header__top_row__bottom .wrap-container > *, .header__top_row__contacts > *, .header__bottom_row__top .wrap-container > *, .header__bottom_row__bottom .wrap-container > *, .header__bottom_row__contacts > *, .header__outer_links__top .wrap-container > *, .header__outer_links__bottom .wrap-container > *, .header__outer_links__contacts > *, .header__contacts__top .wrap-container > *, .header__contacts__bottom .wrap-container > *, .header__contacts__contacts > *, .header__consult__top .wrap-container > *, .header__consult__bottom .wrap-container > *, .header__consult__contacts > * {
  margin-right: 30px;
}
.header__top_row__top .wrap-container > *:last-child, .header__top_row__bottom .wrap-container > *:last-child, .header__top_row__contacts > *:last-child, .header__bottom_row__top .wrap-container > *:last-child, .header__bottom_row__bottom .wrap-container > *:last-child, .header__bottom_row__contacts > *:last-child, .header__outer_links__top .wrap-container > *:last-child, .header__outer_links__bottom .wrap-container > *:last-child, .header__outer_links__contacts > *:last-child, .header__contacts__top .wrap-container > *:last-child, .header__contacts__bottom .wrap-container > *:last-child, .header__contacts__contacts > *:last-child, .header__consult__top .wrap-container > *:last-child, .header__consult__bottom .wrap-container > *:last-child, .header__consult__contacts > *:last-child {
  margin-right: 0;
}
.header__contacts_item {
  padding: 0 20px 0 0;
}
.header__top_row, .header__bottom_row {
  padding-left: 90px;
  -webkit-align-items: center;
  align-items: center;
}
.header__top_row .menu__trigger, .header__bottom_row .menu__trigger {
  margin-right: 20px;
}
.header__top_row .logo--picture_sticked, .header__bottom_row .logo--picture_sticked {
  display: none;
  left: -90px;
  width: 160px;
  height: 54px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #ffcf00;
  padding-bottom: 8px;
}
.header__outer_links {
  align-items: center;
}
.header__outer_links .wrap__select .globe {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 0;
  top: calc(50% - 16px);
  z-index: 1;
}
.header__outer_links .wrap__select .select__selected {
  border: none !important;
  padding: 10px 30px 10px 40px !important;
}
.header__outer_links .wrap__select .select__selected:after {
  background: url(/images/globe.png) left/contain no-repeat;
}
.header__outer_links .wrap__select .select__list {
  border: none !important;
}
.header__outer_links > * {
  margin-right: 15px;
}
.header__bottom {
  background-color: #F8F8F8;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.header__logo {
  order: 1;
}
.header__menu, .header__contacts {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__contacts {
  margin-left: auto;
}
.header__menu {
  margin: auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  order: 2;
}
.header__phones {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-self: center;
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0;
}
.header__phones > * {
  display: inline-block;
  padding: 5px;
}
.header__consult {
  background-color: #FFCF00;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  align-self: stretch;
  padding: 0 20px;
}
.header__tablet > img, .header__tablet svg {
  height: 26px;
  width: 26px;
  object-fit: contain;
  margin-right: 20px;
}
.header__mobile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}
.header__mobile > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  -o-object-position: center;
  -o-object-fit: contain;
  object-position: center;
  object-fit: contain;
  display: block;
}
.header__mobile > *:last-child {
  margin-right: 0;
}
.header__search {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 20px;
  order: 3;
}

#cart_inline {
  margin-left: 20px;
  order: 4;
}

.mobile__logo {
  position: relative;
}
.mobile__logo > img, .mobile__logo svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header {
  position: relative;
}
header .logo--picture {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 70px;
  left: calc((100vw - 1200px)/2);
  background-color: #ffcf00;
}
header .logo--picture > svg {
  position: relative;
  width: 76px;
  height: 100%;
  left: 0;
  top: 0;
}
header .logo--text {
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 1280px) {
  .header__bottom_row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__search {
    order: 2;
    margin-left: auto;
  }
  .header__menu {
    order: 4;
    width: 100%;
  }
  .header__menu > * {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  #cart_inline {
    order: 3;
  }
}
@media screen and (max-width: 1200px) {
  header .logo--picture {
    left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .header__bottom_row .logo--picture_sticked {
    left: -151px;
  }
}
@media screen and (max-width: 768px) {
  .header__bottom_row {
    padding-left: initial;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  header .logo--picture {
    position: relative;
    height: 50px;
    width: 40px;
  }
}
.footer {
  background-color: #555555;
  color: white;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}
.footer a:hover {
  text-decoration: none !important;
}
.footer__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  padding-bottom: 40px;
}
.footer__top > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.footer__bottom {
  border-top: 1px solid #848484;
  padding-top: 20px;
  color: #bfbfbf;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  font-size: 13px;
  line-height: 17px;
}
.footer__bottom > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}
.footer__bottom .bottom--left {
  width: calc(66.6% - 20px);
  margin-right: 20px;
}
.footer__bottom .bottom--right {
  width: 33.3%;
  text-align: right;
}
.footer__bottom .bottom--right > a {
  padding: 0 0 15px !important;
  display: block;
}
.footer__bottom a {
  text-decoration: underline;
  padding: 3px 0;
}
.footer__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left;
  object-position: left;
}
.footer__menu {
  padding-top: 45px;
}
.footer__contacts {
  font-size: 14px;
  line-height: 20px;
  width: calc(25% - 30px);
  margin-right: 30px;
}
.footer__contacts > * {
  margin-bottom: 30px;
}
.footer__contacts a {
  text-decoration: underline;
}
.footer__contacts dd {
  margin-inline-start: 0;
}
.footer__socials {
  font: 16px/1 "icomoon";
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  color: #a7a7a7;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
}
.footer__socials > * {
  height: 40px;
  width: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0 0 0 20px;
  position: relative;
  cursor: pointer;
  transition: 0.2s all;
}
.footer__socials > *:before {
  position: absolute;
  top: calc(50% - 8px);
}
.footer__socials > *:hover {
  background-color: #eaeaea;
  color: black;
}
.footer__socials .socials--fb:before {
  content: "";
  left: calc(50% - 4px);
}
.footer__socials .socials--vk:before {
  content: "";
  left: calc(50% - 14px);
}
.footer__socials .socials--yt:before {
  content: "";
  left: calc(50% - 10px);
}

@media screen and (max-width: 768px) {
  .footer__top {
    display: block;
  }
  .footer__top > * {
    width: 100%;
    margin: 0 0 20px;
  }
  .footer__top > *:last-child {
    margin: 0;
  }
  .footer__menu {
    padding: 0;
  }
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #C9C9C9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-5:before {
  content: "";
}

.icon-4:before {
  content: "";
}

.icon-3:before {
  content: "";
}

.icon-2:before {
  content: "";
}

.icon-1:before {
  content: "";
}

@font-face {
  font-family: "Helios Normal";
  src: url("./fonts/HeliosCond_try.ttf");
}
@font-face {
  font-family: "Helios Light";
  src: url("./fonts/helioscondlight_[allfont.ru].ttf");
}
@font-face {
  font-family: "Helios Bold";
  src: url("./fonts/HeliosCond-Bold.ttf");
}
@font-face {
  font-family: "Helios Black";
  src: url("./fonts/HeliosCond-Bold.otf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("./fonts/opensanslight.ttf");
}
@font-face {
  font-family: "Ubuntu Regular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.ttf");
}
.wrap__textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  height: 200px;
}
.wrap__checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 5px 0 5px 35px;
  line-height: 18px;
}
.wrap__checkbox .checkmark {
  position: absolute;
  left: 6px;
  top: calc(50% - 9px);
  height: 18px;
  width: 18px;
  border: 1px solid #B3B3B3;
  border-radius: 3px;
  -weblit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.wrap__checkbox .checkmark:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 9px;
  left: 6px;
  top: calc(50% - 5px);
  border: 1px solid;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  -weblit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.wrap__checkbox input {
  display: none;
}
.wrap__checkbox input:checked ~ .checkmark:before {
  opacity: 1;
}
.wrap__checkbox[disabled] {
  color: gainsboro;
  cursor: not-allowed;
}
.wrap__checkbox[disabled] .checkmark {
  cursor: not-allowed;
  border-color: #e0e0e0;
}
.wrap__radio {
  display: inline-block;
  position: relative;
  padding: 0 0 0 23px;
  cursor: pointer;
}
.wrap__radio .checkmark {
  position: absolute;
  height: 12px;
  width: 12px;
  left: 0;
  top: calc(50% - 6px);
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
}
.wrap__radio .checkmark:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  -moz-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  left: 3px;
  top: 3px;
}
.wrap__radio input {
  display: none;
}
.wrap__radio input:checked ~ .checkmark:before {
  opacity: 1;
}
.wrap__radio[disabled] {
  cursor: not-allowed;
}
.wrap__radio[disabled] .checkmark {
  cursor: not-allowed;
  opacity: 0.2;
}

textarea {
  display: inline-block;
  width: 100%;
}

.custom-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.custom-form > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: 20px;
}
.custom-form > *:last-child {
  margin-bottom: 0;
}
.custom-form .wrap__checkbox {
  margin-right: auto;
  margin-left: auto;
}
.custom-form .wrap__checkbox .checkmark {
  border-radius: 0;
}
.custom-form .wrap__checkbox input:checked ~ .checkmark {
  border: none;
  background-color: #ffcf00;
}
.custom-form [type=submit] {
  width: 100%;
}
.custom-form .news_subscribe, .custom-form .main-user-consent-request {
  margin-left: auto;
  margin-right: auto;
}
.custom-form .mf-captcha img, .custom-form .mf-captcha [name=captcha_word] {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
}
.custom-form .mf-captcha img {
  height: auto;
}
.custom-form .mf-captcha [name=captcha_word] {
  padding: 15px 10px;
}

form .form__errors {
  display: none;
  color: red;
}
form.error .form__errors {
  display: block;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html {
  min-width: 320px;
}

body {
  font: 13px/normal "Helios Normal", sans-serif;
  color: #000000;
}
body.shadowed .banner_top {
  filter: brightness(0.5);
}
body.scroll-block, body.force-scroll-block {
  height: 100vh;
  overflow-y: hidden;
}
body.busy {
  opacity: 0.3;
}
body.busy #preloader {
  display: block;
}
body.sticked_header .header__bottom {
  position: -webkit-sticky;
  position: -ms-device-fixed;
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 2;
}
body.sticked_header .btn--up {
  -webkit-transform: scale(1);
  transform: scale(1);
}

body, p, h1, h2, h3, h4, h5, h6, dl, ul {
  margin: 0;
}

.wrap-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.wrap-container--limited {
  max-width: 800px;
}

.hidden {
  display: none !important;
}

section {
  padding: 40px 0;
}
section .wrap-container > * {
  margin-bottom: 40px;
}
section .wrap-container > *:last-child {
  margin-bottom: 0;
}

a, img {
  display: inline-block;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
a.underlined, a:hover.underlined {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: initial;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font: 30px/130% "Open Sans Light", sans-serif;
}

h2 {
  font: 300 24px/33px "Open Sans Light", sans-serif;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font: 14px/170% "Open Sans", sans-serif;
}

.cover-link {
  position: relative;
}
.cover-link > a, .cover-link > img, .cover-link > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.cover-link > img, .cover-link > svg {
  -o-object-fit: contain;
  object-fit: contain;
}
.cover-link.filled > img, .cover-link.filled > svg {
  object-fit: cover;
  -o-object-fit: cover;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 2px;
}

@media screen and (max-width: 1200px) {
  .wrap-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.btn {
  display: inline-block;
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.btn[disabled] {
  cursor: not-allowed;
  color: #9e9e9e;
}
.btn:hover {
  opacity: 0.7;
}
.btn--close {
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
}
.btn--close:before, .btn--close:after {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #5A6872;
  height: 21px;
  width: 2px;
  top: -3px;
  left: 7px;
}
.btn--close:after {
  -webkit-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
}
.btn--yellow {
  padding: 17px 33px;
  color: black;
  background-color: #FFCF00;
}
.btn--up {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #FFCF00;
  border-radius: 50% !important;
  padding: 0;
}
.btn--up:before {
  position: absolute;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 14px;
  height: 14px;
  border-width: 3px 0 0 3px;
  top: calc(50% - 3px);
  right: calc(50% - 7px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  width: 8px;
  height: 8px;
  position: relative;
  padding: 0;
}
.arrow--simple {
  -webkit-transform: rotate(45deg) scaleX(-1);
  transform: rotate(45deg) scaleX(-1);
}
.arrow--simple:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #B3B3B3;
  border-width: 0 2px 2px 0;
}
.arrow--simple.next {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .btn--up {
    width: 32px;
    height: 32px;
  }
  .btn--up:before {
    width: 10px;
    height: 10px;
    top: calc(50% - 2px);
    right: calc(50% - 5px);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.desktop-hidden,
.laptop-visible,
.tablet-visible,
.mobile-visible {
  display: none;
}

.laptop-hidden,
.tablet-hidden,
.mobile-hidden {
  display: contents;
}

@media screen and (max-width: 1280px) {
  .laptop-hidden {
    display: none;
  }

  .laptop-visible {
    display: contents;
  }
}
@media screen and (max-width: 1024px) {
  .tablet-hidden {
    display: none;
  }

  .tablet-visible {
    display: contents;
  }
}
@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-visible {
    display: contents;
  }
}
label {
  font-weight: initial;
}

.nav-tabs .nav-link {
  border-right: 1px solid #d0d0d0;
}
.nav-tabs .nav-link:last-child {
  border: none;
}

.nav-tabs {
  border: none;
}

.btn {
  border-radius: 0;
}

.mfp-modal > * {
  margin-top: 40px;
}
.mfp-modal > *:first-child {
  margin-top: 0;
}

.modal__title {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#preloader {
  display: none;
  position: -webkit-sticky;
  position: -ms-device-fixed;
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

#preloader .lds-ring, .preloader .lds-ring {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
#preloader .lds-ring div, .preloader .lds-ring div {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 6px;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #a9a9a9 transparent transparent transparent;
}
#preloader .lds-ring div:nth-child(1), .preloader .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
#preloader .lds-ring div:nth-child(2), .preloader .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
#preloader .lds-ring div:nth-child(3), .preloader .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

#tooltip {
  position: -webkit-sticky;
  position: -ms-device-fixed;
  position: fixed;
  max-width: 300px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  background-color: #D4DEE3;
  border-radius: 3px;
  padding: 9px 17px;
  -webkit-transition: opacity 0.2s ease 0.2s;
  transition: transform 0.2s ease 0.2s;
  -webkit-transform: translate(-50px, -20px) scale(0);
  transform: translateY(-50px, -20px) scale(0);
  z-index: 1;
}
#tooltip:before {
  position: absolute;
  content: "";
  border: 9px solid transparent;
  border-color: #D4DEE3 transparent transparent transparent;
  top: 100%;
  left: calc(50% - 12px);
}
#tooltip.visible {
  transform: translate(-50px, -20px) scale(1);
}

.btn--up {
  -webkit-transform: scale(0);
  transform: scale(0);
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}

/*# sourceMappingURL=template_styles.css.map */
