.banner_top {
  position: relative;
  filter: brightness(1);
  transition: filter 0.5s;
  padding: 0;
  height: 47vw;
}
.banner_top #v_player {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.banner_top__front {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12vw 0 78px;
}
.banner_top__position {
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 100%;
  top: -20px;
  left: 0;
}
.banner_top__position_pointer {
  position: absolute;
  left: 0;
  top: calc(50% - 2.5px);
  width: 43px;
  height: 5px;
  background-color: #FFCF00;
  transition: 0.5s left;
}
.banner_top .wrap-container {
  height: 100%;
}
.banner_top__nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  counter-reset: step;
  color: white;
  font: 45px/42px "Helios Bold", sans-serif;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.banner_top__nav_item {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
  counter-increment: step;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.banner_top__nav_item .nav_item_body {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.banner_top__nav_item .nav_item_body:before {
  position: absolute;
  content: "0" counter(step);
  color: white;
  font: 20px/22px "Helios Light", sans-serif;
  right: 0;
  top: -3px;
}
.banner_top__nav_item.hovered {
  font-size: 65px;
  line-height: 61px;
  opacity: 1;
}
.banner_top__nav_item.service.hovered ~ .banner_top__position .banner_top__position_pointer {
  left: 33.3%;
}
.banner_top__nav_item.spares.hovered ~ .banner_top__position .banner_top__position_pointer {
  left: 66.6%;
}
.banner_top__scroll_sign {
  position: absolute;
  bottom: 41px;
  left: 0;
  height: 29px;
  width: 12px;
  -webkit-animation: 1s ease-in-out 0s infinite normal forwards running jump;
  animation: 1s ease-in-out 0s infinite normal forwards running jump;
}
.banner_top p {
  color: white;
  font: 600 20px/25px "Open Sans", sans-serif !important;
  line-height: 31px;
  max-width: 900px;
  position: relative;
  margin-top: auto;
}
.banner_top p a {
  text-decoration: underline;
  padding: 5px 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.banner_top p a:hover {
  text-decoration: none;
  background-color: #d5ce00;
}

@media screen and (max-width: 1024px) {
  .banner_top__nav {
    font-size: 25px;
    line-height: 35px;
  }
  .banner_top__nav_item.hovered {
    font-size: 35px;
  }
  .banner_top p {
    font-size: 16px !important;
    line-height: 21px !important;
  }
}
@media screen and (max-width: 768px) {
  .banner_top {
    background: url(/images/banner/tech_mobile.png) center/cover no-repeat;
    transition: 0.5s background-image;
    height: initial;
  }
  .banner_top.banner--service {
    background-image: url(/images/banner/service_mobile.png);
  }
  .banner_top.banner--spares {
    background-image: url(/images/banner/spares_mobile.png);
  }
  .banner_top #v_player {
    display: none;
  }
  .banner_top__position {
    height: 100%;
    width: initial;
    top: 0;
    left: 0;
  }
  .banner_top__position_pointer {
    left: calc(50% - 2.5px) !important;
    top: 0;
    width: 5px;
    height: 43px;
  }
  .banner_top__nav {
    display: block;
    height: initial;
  }
  .banner_top__nav_item {
    padding-bottom: 30px;
    text-align: center;
  }
  .banner_top__nav_item.hovered {
    font-size: 35px;
  }
  .banner_top__nav_item.service.hovered ~ .banner_top__position .banner_top__position_pointer {
    top: 33.3%;
  }
  .banner_top__nav_item.spares.hovered ~ .banner_top__position .banner_top__position_pointer {
    top: 66.6%;
  }
  .banner_top__scroll_sign {
    right: 20px;
    left: initial;
  }
}

/*# sourceMappingURL=style.css.map */
