.order
    &__basket
        padding: 0 23px
        font-size: 14px
        line-height: 126.4%
        &_container
            background-color: #F8F8F8
            border: 1px solid rgba(0, 0, 0, 0.1)
            .order__total
                padding: 30px 20px
                margin: 0
        &_item
            display: -webkit-flex
            display: -moz-flex
            display: -o-flex
            display: -ms-flexbox
            display: flex
            -webkit-justify-content: space-between
            justify-content: space-between
            position: relative
            padding: 23px 32px 23px 0
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
            &_info > *
                margin-bottom: 13px
                &:last-child
                    margin: 0
            &_price
                color: rgba(0, 0, 0, 0.7)
            > *
                margin-right: 16px
                &:last-child
                    margin: 0
            .btn--close
                position: absolute
                top: 24px
                right: 0
                margin: 0
                cursor: pointer
            > img
                max-width: 120px
                max-height: 74px

@media screen and (max-width: 1024px)
    .order__basket_item
        display: block
        > *
            margin: 0 0 20px
            &:last-child
                margin: 0