.order__basket {
  padding: 0 23px;
  font-size: 14px;
  line-height: 126.4%;
}
.order__basket_container {
  background-color: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.order__basket_container .order__total {
  padding: 30px 20px;
  margin: 0;
}
.order__basket_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  padding: 23px 32px 23px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.order__basket_item_info > * {
  margin-bottom: 13px;
}
.order__basket_item_info > *:last-child {
  margin: 0;
}
.order__basket_item_price {
  color: rgba(0, 0, 0, 0.7);
}
.order__basket_item > * {
  margin-right: 16px;
}
.order__basket_item > *:last-child {
  margin: 0;
}
.order__basket_item .btn--close {
  position: absolute;
  top: 24px;
  right: 0;
  margin: 0;
  cursor: pointer;
}
.order__basket_item > img {
  max-width: 120px;
  max-height: 74px;
}

@media screen and (max-width: 1024px) {
  .order__basket_item {
    display: block;
  }
  .order__basket_item > * {
    margin: 0 0 20px;
  }
  .order__basket_item > *:last-child {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
