#top_gallery {
  display: none;
  padding: 0 15px;
}
#top_gallery.slick-initialized {
  display: block;
}
#top_gallery .slick-arrow {
  position: absolute;
  left: 2px;
  top: calc(50% - 3px);
}
#top_gallery .slick-arrow.next {
  left: initial;
  right: 0;
}
#top_gallery .slick-slide {
  position: relative;
  padding: 0 15px;
}
#top_gallery .slick-slide img {
  position: relative;
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  #top_gallery .slick-slide img {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
