#top_gallery
    padding: 0 15px
    .slick
        &-arrow
            position: absolute
            left: 2px
            top: calc(50% - 3px)
            &.next
                left: initial
                right: 0
        &-slide
            position: relative
            padding: 0 15px
            img
                position: relative
                height: 150px
                width: 100%
                -o-object-fit: cover
                object-fit: cover

@media screen and (max-width: 1024px)
    #top_gallery
        .slick-slide img
            height: 300px