.search-tags-chain a {
  margin: 2px;
}
.search-tags-chain a.search-tags-link {
  color: #333333;
  font-size: 90%;
  text-decoration: none;
  color: #535353;
}
.search-tags-cloud a {
  white-space: normal;
}
.search-page-params {
  border-bottom: 1px dashed blue;
  text-decoration: none;
  margin-top: 6px;
}
.search-item-rate {
  font-size: 11px;
}
.search_page__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.search_page__form > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 20px;
}
.search_page__form > *:last-child {
  margin-right: 0;
}
.search_page__form .search_page__input--query {
  flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
  .search_page__form {
    display: block;
  }
  .search_page__form > * {
    width: 100%;
    margin: 0 0 20px;
  }
  .search_page__form > *:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
