@import "../../../../css/variables"

.other_news
    font: 15px/normal $ffr
    .post
        padding: 20px 0
        border-bottom: 1px solid #e2e2e2
        > *
            margin-bottom: 15px
            &:last-child
                margin: 0
        &__date
            color: #929292
        &__post
            line-height: 23px
        &__details
            display: inline-block
            color: #3f82b9
            text-decoration: underline #3f82b9
            -webkit-transition: text-decoration-color 0.2s
            transition: text-decoration-color 0.2s
            &:hover
                text-decoration-color: transparent