.other_news {
  font: 15px/normal "Open Sans", sans-serif;
}
.other_news .post {
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
}
.other_news .post > * {
  margin-bottom: 15px;
}
.other_news .post > *:last-child {
  margin: 0;
}
.other_news .post__date {
  color: #929292;
}
.other_news .post__post {
  line-height: 23px;
}
.other_news .post__details {
  display: inline-block;
  color: #3f82b9;
  text-decoration: underline #3f82b9;
  -webkit-transition: text-decoration-color 0.2s;
  transition: text-decoration-color 0.2s;
}
.other_news .post__details:hover {
  text-decoration-color: transparent;
}

/*# sourceMappingURL=style.css.map */
