#scopes_tree {
  font: 13px/normal "Open Sans", sans-serif;
}

.scopes__container > * {
  cursor: pointer;
}
.scopes__content {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  height: 0;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.scopes__switch {
  border: 1px solid #e4e4e4;
  margin: 0 0 10px;
  padding: 5px 5px 5px 30px;
  position: relative;
  box-sizing: border-box;
}
.scopes__switch:before, .scopes__switch:after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: 4px;
  top: 5px;
  width: 18px;
}
.scopes__switch:after {
  height: 18px;
  background-color: #c3c3c3;
}
.scopes__switch:before {
  height: calc(100% - 6px);
  background-color: transparent;
}
.scopes__switch.expanded:before {
  background-color: #f8f5e0;
}
.scopes__switch.expanded:after {
  background-color: #f0d200;
}
.scopes__switch.expanded > .scopes__content {
  margin-top: 7px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  height: initial;
}
.scopes__links li {
  transition: 0.2s color;
  padding: 10px 0;
}
.scopes__links li:hover {
  color: #60b5ff;
}

/*# sourceMappingURL=style.css.map */
