@import "../../../../css/variables"

.order
    &__page
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flexbox
        display: -o-flex
        display: flex
        -webkit-align-items: flex-start
        align-items: flex-start
        counter-reset: step
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__main
        width: calc(66.6% - 10px)
        margin-right: 10px
    &__side
        width: calc(33.3% - 10px)
        margin-left: 10px
    &__form
        position: relative
        .wrap__checkbox
            .checkmark
                border-radius: initial
            input:checked ~ .checkmark
                border: none
                background-color: #ffcf00
        [type='submit']
            padding: 15px
            background-color: #ffcf00
            border: none
            margin-left: 30px
        .agree
            display: block
        &.invalid
            .order__errors
                opacity: 1
    &__section
        border: 1px solid rgba(0, 0, 0, 0.1)
        margin-top: 23px
        &:first-of-type
            margin: 0
        &_header
            position: relative
            font: 12px/14px $ff
            text-transform: uppercase
            padding: 18px 18px 18px 43px
            background-color: #F8F8F8
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
            counter-increment: step
            &:before
                position: absolute
                content: '0'counter(step)'. '
                left: 23px
        &_body
            padding: 20px 23px
            > *
                -webkit-flex: 0 0 auto
                -ms-flex: 0 0 auto
                flex: 0 0 auto
                width: 100%
                margin: 0 0 10px
                &:last-child
                    margin-bottom: 0
                &.half-width
                    width: 50%
        #field_props_block
            > *
                margin-bottom: 10px
                width: 100%
                &:last-child
                    margin: 0
            .inputs_container
                display: -webkit-flex
                display: flex
                flex-wrap: wrap
                margin-bottom: 0 !important
                > *
                    flex: 0 1 auto
                    width: calc(50% - 10px)
                    margin: 0 20px 10px 0
                    &:nth-child(2n)
                        margin-right: 0
    &__checkout
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        -webkit-align-items: center
        align-items: center
        -webkit-justify-content: space-between
        justify-content: space-between
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-top: none
        padding: 23px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__total, &__actions
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-align-items: center
        align-items: center
        -webkit-justify-content: space-between
        justify-content: space-between
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__total
        font: 14px/126.4% $ffr
        &_amount
            display: inline-block
            white-space: nowrap
            font: bold 18px/130% $ffr
            margin-left: 30px
    &__errors
        position: relative
        color: red
        opacity: 0
        transition: opacity 0.2s
        padding: 6px 10px
        text-align: right
    &__confirm
        font: 14px/126% $ffr
        > *
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        dl
            dt
                font: 12px/14px $ffr
                color: rgba(0, 0, 0, 0.7)
                text-transform: uppercase
                padding: 6px 0
            dd
                font: 14px/1.5 $ffb !important
                margin-bottom: 20px


.bx-soa-empty-cart-container > *
    margin-bottom: 20px
    &:last-child
        margin-bottom: 0

@media screen and (max-width: 1024px)
    .order
        &__checkout
            display: block
        &__total
            width: 100%
            margin: 0 0 30px

@media screen and (max-width: 768px)
    .order
        &__page
            -webkit-flex-direction: column
            flex-direction: column
            padding: 0
            > *
                width: 100%
                margin: 0 0 30px
        &__side
            order: -1
        &__checkout, &__actions
            display: block
            > *
                width: 100%
                margin: 0 0 30px
                &:last-child
                    margin-bottom: 0
        &__actions
            max-width: 300px
            margin-left: auto
            margin-right: auto

    [type='submit']
        margin-left: initial !important

    .inputs_container
        display: block
        margin: 0 !important
        > *
            width: 100%
            margin: 0 0 20px