.order__page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  counter-reset: step;
}
.order__page > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.order__main {
  width: calc(66.6% - 10px);
  margin-right: 10px;
}
.order__side {
  width: calc(33.3% - 10px);
  margin-left: 10px;
}
.order__form {
  position: relative;
}
.order__form .wrap__checkbox .checkmark {
  border-radius: initial;
}
.order__form .wrap__checkbox input:checked ~ .checkmark {
  border: none;
  background-color: #ffcf00;
}
.order__form [type=submit] {
  padding: 15px;
  background-color: #ffcf00;
  border: none;
  margin-left: 30px;
}
.order__form .agree {
  display: block;
}
.order__form.invalid .order__errors {
  opacity: 1;
}
.order__section {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 23px;
}
.order__section:first-of-type {
  margin: 0;
}
.order__section_header {
  position: relative;
  font: 12px/14px "Helios Normal", sans-serif;
  text-transform: uppercase;
  padding: 18px 18px 18px 43px;
  background-color: #F8F8F8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  counter-increment: step;
}
.order__section_header:before {
  position: absolute;
  content: "0" counter(step) ". ";
  left: 23px;
}
.order__section_body {
  padding: 20px 23px;
}
.order__section_body > * {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  margin: 0 0 10px;
}
.order__section_body > *:last-child {
  margin-bottom: 0;
}
.order__section_body > *.half-width {
  width: 50%;
}
.order__section #field_props_block > * {
  margin-bottom: 10px;
  width: 100%;
}
.order__section #field_props_block > *:last-child {
  margin: 0;
}
.order__section #field_props_block .inputs_container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0 !important;
}
.order__section #field_props_block .inputs_container > * {
  flex: 0 1 auto;
  width: calc(50% - 10px);
  margin: 0 20px 10px 0;
}
.order__section #field_props_block .inputs_container > *:nth-child(2n) {
  margin-right: 0;
}
.order__checkout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 23px;
}
.order__checkout > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.order__total, .order__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.order__total > *, .order__actions > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.order__total {
  font: 14px/126.4% "Open Sans", sans-serif;
}
.order__total_amount {
  display: inline-block;
  white-space: nowrap;
  font: bold 18px/130% "Open Sans", sans-serif;
  margin-left: 30px;
}
.order__errors {
  position: relative;
  color: red;
  opacity: 0;
  transition: opacity 0.2s;
  padding: 6px 10px;
  text-align: right;
}
.order__confirm {
  font: 14px/126% "Open Sans", sans-serif;
}
.order__confirm > * {
  margin-bottom: 20px;
}
.order__confirm > *:last-child {
  margin-bottom: 0;
}
.order__confirm dl dt {
  font: 12px/14px "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  padding: 6px 0;
}
.order__confirm dl dd {
  font: 14px/1.5 "Helios Bold", sans-serif !important;
  margin-bottom: 20px;
}

.bx-soa-empty-cart-container > * {
  margin-bottom: 20px;
}
.bx-soa-empty-cart-container > *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .order__checkout {
    display: block;
  }
  .order__total {
    width: 100%;
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .order__page {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
  .order__page > * {
    width: 100%;
    margin: 0 0 30px;
  }
  .order__side {
    order: -1;
  }
  .order__checkout, .order__actions {
    display: block;
  }
  .order__checkout > *, .order__actions > * {
    width: 100%;
    margin: 0 0 30px;
  }
  .order__checkout > *:last-child, .order__actions > *:last-child {
    margin-bottom: 0;
  }
  .order__actions {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  [type=submit] {
    margin-left: initial !important;
  }

  .inputs_container {
    display: block;
    margin: 0 !important;
  }
  .inputs_container > * {
    width: 100%;
    margin: 0 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
