.cc-window.cc-banner {
    padding: 0 6px;
    background-color: black !important;
    color: white !important;
}
.cc-btn {
    border: none;
    padding: 2px 20px;
}
.cc-link {
    font-size: 12px;
    color: inherit !important;
    padding: 0;
    vertical-align: middle;
    margin-left: 20px;
}