.other_articles
    color: rgba(0,0,0,0.7)
    font-size: 20px
    li
        padding: 20px 0
        border-bottom: 1px solid #e2e2e2
        -webkit-transition: color 0.2s
        transition: color 0.2s
        &:hover
            color: #6fbcff