.desktop-hidden,
.laptop-visible,
.tablet-visible,
.mobile-visible
    display: none

.laptop-hidden,
.tablet-hidden,
.mobile-hidden
    display: contents

@media screen and (max-width: 1280px)
    .laptop-hidden
        display: none

    .laptop-visible
        display: contents

@media screen and (max-width: 1024px)
    .tablet-hidden
        display: none

    .tablet-visible
        display: contents

@media screen and (max-width: 768px)
    .mobile-hidden
        display: none

    .mobile-visible
        display: contents
