*, *:before, *:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*:focus
    outline: none !important

html
    min-width: 320px

body
    font: 13px/normal $ff
    color: #000000
    &.shadowed
        .banner_top
            filter: brightness(0.5)

    &.scroll-block, &.force-scroll-block
        height: 100vh
        overflow-y: hidden
    &.busy
        opacity: 0.3
        #preloader
            display: block
    &.sticked_header
        .header
            &__bottom
                position: -webkit-sticky
                position: -ms-device-fixed
                position: fixed
                width: 100%
                top: 0
                -webkit-box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.16)
                box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.16)
                -webkit-transform: translateY(0)
                transform: translateY(0)
                z-index: 2
        .btn--up
            -webkit-transform: scale(1)
            transform: scale(1)

body, p, h1, h2, h3, h4, h5, h6, dl, ul
    margin: 0

.wrap-container
    max-width: 1200px
    margin-left: auto
    margin-right: auto
    &--limited
        max-width: 800px

.hidden
    display: none !important

section
    padding: 40px 0
    .wrap-container > *
        margin-bottom: 40px
        &:last-child
            margin-bottom: 0

a, img
    display: inline-block

a, a:hover
    text-decoration: none
    color: inherit
    &.underlined
        text-decoration: underline

ul
    list-style: none
    padding-inline-start: 0

h1, h2, h3, h4, h5, h6
    font-weight: initial

h1, h2
    text-transform: uppercase

h1
    font: 30px/130% $ffrl
h2
    font: 300 24px/33px $ffrl
h3
    font-size: 20px
h4
    font-size: 18px
h5
    font-size: 16px
h6
    font-size: 14px

p
    font: 14px/170% $ffr

.cover-link
    position: relative
    > a, > img, > svg
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
    > img, > svg
        -o-object-fit: contain
        object-fit: contain
    &.filled
        > img, > svg
            object-fit: cover
            -o-object-fit: cover

::-webkit-scrollbar
    width: 4px

::-webkit-scrollbar-thumb
    background-color: #a9a9a9
    border-radius: 2px

@media screen and (max-width: 1200px)
    .wrap-container
        padding-right: 15px
        padding-left: 15px
