.btn
    display: inline-block
    position: relative
    border: none
    font-size: 14px
    line-height: 16px
    cursor: pointer
    opacity: 1
    -webkit-transition: opacity 0.2s
    transition: opacity 0.2s
    &[disabled]
        cursor: not-allowed
        color: #9e9e9e
    &:hover
        opacity: 0.7
    &--close
        width: 15px
        height: 15px
        border: none
        background-color: transparent
        &:before, &:after
            position: absolute
            content: ''
            -webkit-transform: rotate(45deg)
            transform: rotate(45deg)
            background-color: #5A6872
            height: 21px
            width: 2px
            top: -3px
            left: 7px
        &:after
            -webkit-transform: rotate(-45deg) !important
            transform: rotate(-45deg) !important
    &--yellow
        padding: 17px 33px
        color: black
        background-color: #FFCF00
    &--up
        position: relative
        height: 64px
        width: 64px
        background-color: #FFCF00
        border-radius: 50% !important
        padding: 0
        &:before
            position: absolute
            content: ""
            border: 2px solid rgba(0,0,0,0.5)
            width: 14px
            height: 14px
            border-width: 3px 0 0 3px
            top: calc(50% - 3px)
            right: calc(50% - 7px)
            -webkit-transform: rotate(45deg)
            transform: rotate(45deg)

.arrow
    display: inline-block
    background: none
    border: none
    cursor: pointer
    width: 8px
    height: 8px
    position: relative
    padding: 0
    &--simple
        -webkit-transform: rotate(45deg) scaleX(-1)
        transform: rotate(45deg) scaleX(-1)
        &:before
            position: absolute
            content: ''
            left: 0
            top: 0
            width: 100%
            height: 100%
            border: 2px solid #B3B3B3
            border-width: 0 2px 2px 0
        &.next
            -webkit-transform: rotate(-45deg)
            transform: rotate(-45deg)

@media screen and (max-width: 768px)
    .btn--up
        width: 32px
        height: 32px
        &:before
            width: 10px
            height: 10px
            top: calc(50% - 2px)
            right: calc(50% - 5px)