.footer
    background-color: #555555
    color: white
    padding-bottom: 20px
    font-size: 14px
    line-height: 20px
    a:hover
        text-decoration: none !important
    &__top
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        padding-bottom: 40px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__bottom
        border-top: 1px solid #848484
        padding-top: 20px
        color: #bfbfbf
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        font-size: 13px
        line-height: 17px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 100%
        .bottom
            &--left
                width: calc(66.6% - 20px)
                margin-right: 20px
            &--right
                width: 33.3%
                text-align: right
                > a
                    padding: 0 0 15px !important
                    display: block
        a
            text-decoration: underline
            padding: 3px 0
    &__logo img
        width: 100%
        height: auto
        -o-object-fit: contain
        object-fit: contain
        -o-object-position: left
        object-position: left
    &__menu
        padding-top: 45px
    &__contacts
        font-size: 14px
        line-height: 20px
        width: calc(25% - 30px)
        margin-right: 30px
        > *
            margin-bottom: 30px
        a
            text-decoration: underline
        dd
            margin-inline-start: 0
    &__socials
        font: 16px/1 'icomoon'
        position: relative
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        color: #a7a7a7
        -webkit-justify-content: flex-end
        justify-content: flex-end
        margin-top: 20px
        > *
            height: 40px
            width: 40px
            border: 1px solid gray
            border-radius: 50%
            margin: 0 0 0 20px
            position: relative
            cursor: pointer
            transition: 0.2s all
            &:before
                position: absolute
                top: calc(50% - 8px)
            &:hover
                background-color: #eaeaea
                color: black
        .socials--fb:before
            content: '\e903'
            left: calc(50% - 4px)
        .socials--vk:before
            content: '\e901'
            left: calc(50% - 14px)
        .socials--yt:before
            content: '\e900'
            left: calc(50% - 10px)

@media screen and (max-width: 768px)
    .footer
        &__top
            display: block
            > *
                width: 100%
                margin: 0 0 20px
                &:last-child
                    margin: 0
        &__menu
            padding: 0