.custom-form
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    > *
        -webkit-flex: 0 1 auto
        -ms-flex: 0 1 auto
        flex: 0 1 auto
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0
    .wrap__checkbox
        margin-right: auto
        margin-left: auto
        .checkmark
            border-radius: 0
        input:checked ~ .checkmark
            border: none
            background-color: #ffcf00
    [type='submit']
        width: 100%
    .news_subscribe, .main-user-consent-request
        margin-left: auto
        margin-right: auto
    .mf-captcha
        img, [name='captcha_word']
            display: inline-block
            width: 100%
            max-width: 300px
            margin: 0 auto 20px
        img
            height: auto
        [name='captcha_word']
            padding: 15px 10px

form
    .form__errors
        display: none
        color: red
    &.error
        .form__errors
            display: block
