.header
    position: relative
    &__top_row, &__bottom_row, &__outer_links, &__contacts, &__consult
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        > *
            -webkit-flex: 0 0 auto
            -ms-flex: 0 0 auto
            flex: 0 0 auto
        &__top .wrap-container, &__bottom .wrap-container, &__contacts
            > *
                margin-right: 30px
                &:last-child
                    margin-right: 0
    &__contacts_item
        padding: 0 20px 0 0
    &__top_row, &__bottom_row
        padding-left: 90px
        -webkit-align-items: center
        align-items: center
        .menu__trigger
            margin-right: 20px
        .logo--picture_sticked
            display: none
            left: -90px
            width: 160px
            height: 54px
            -o-object-fit: contain
            object-fit: contain
            background-color: #ffcf00
            padding-bottom: 8px
    &__outer_links
        align-items: center
        .wrap__select
            .globe
                position: absolute
                height: 32px
                width: 32px
                left: 0
                top: calc(50% - 16px)
                z-index: 1
            .select__selected
                border: none !important
                padding: 10px 30px 10px 40px !important
                &:after
                    background: url(/images/globe.png) left/contain no-repeat
            .select__list
                border: none !important
        > *
            margin-right: 15px

    &__bottom
        background-color: #F8F8F8
        -webkit-transition: transform 0.2s
        transition: transform 0.2s
    &__logo
        order: 1
    &__menu, &__contacts
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
    &__contacts
        margin-left: auto
    &__menu
        margin: auto
        -webkit-flex: 0 1 auto
        -ms-flex: 0 1 auto
        flex: 0 1 auto
        order: 2
    &__phones
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-flex-direction: column
        flex-direction: column
        -webkit-align-items: flex-end
        align-items: flex-end
        -webkit-align-self: center
        align-self: center
        font-size: 14px
        line-height: 18px
        padding: 5px 0
        > *
            display: inline-block
            padding: 5px
    &__consult
        background-color: #FFCF00
        font-size: 14px
        line-height: 16px
        align-items: center
        align-self: stretch
        padding: 0 20px
    &__tablet
        > img, svg
            height: 26px
            width: 26px
            object-fit: contain
            margin-right: 20px
    &__mobile
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        -webkit-justify-content: space-between
        justify-content: space-between
        padding: 20px
        background-color: white
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 50px
            height: 50px
            margin-right: 20px
            -o-object-position: center
            -o-object-fit: contain
            object-position: center
            object-fit: contain
            display: block
            &:last-child
                margin-right: 0
    &__search
        -webkit-flex: 0 0 auto
        -ms-flex: 0 0 auto
        flex: 0 0 auto
        margin-left: 20px
        order: 3

#cart_inline
    margin-left: 20px
    order: 4

.mobile__logo
    position: relative
    > img, svg
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0


header
    position: relative
    .logo
        &--picture
            position: absolute
            bottom: 0
            height: 100%
            width: 70px
            left: calc((100vw - 1200px)/2)
            background-color: #ffcf00
            > svg
                position: relative
                width: 76px
                height: 100%
                left: 0
                top: 0
        &--text
            width: 150px
            height: 50px


@media screen and (max-width: 1280px)
    .header
        &__bottom_row
            -webkit-flex-wrap: wrap
            flex-wrap: wrap
            padding-top: 10px
            padding-bottom: 10px
        &__search
            order: 2
            margin-left: auto
        &__menu
            order: 4
            width: 100%
            > *
                -webkit-flex: 1 0 auto
                -ms-flex: 1 0 auto
                flex: 1 0 auto
    #cart_inline
        order: 3

@media screen and (max-width: 1200px)
    header .logo--picture
        left: 0

@media screen and (max-width: 1024px)
    .header__bottom_row .logo--picture_sticked
        left: -151px

@media screen and (max-width: 768px)
    .header__bottom_row
        padding-left: initial
        -webkit-justify-content: space-between
        justify-content: space-between

    header .logo--picture
        position: relative
        height: 50px
        width: 40px