[class^="icon-"], [class*=" icon-"]
    font-family: 'icomoon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    color: #C9C9C9
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-5:before
    content: "\e900"

.icon-4:before
    content: "\e901"

.icon-3:before
    content: "\e902"

.icon-2:before
    content: "\e903"

.icon-1:before
    content: "\e904"
