@import "variables"

.wrap
    &__textarea
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 2px
        padding: 15px
        width: 100%
        font-family: inherit
        height: 200px
    &__checkbox
        position: relative
        display: inline-block
        cursor: pointer
        padding: 5px 0 5px 35px
        line-height: 18px
        .checkmark
            position: absolute
            left: 6px
            top: calc(50% - 9px)
            height: 18px
            width: 18px
            border: 1px solid #B3B3B3
            border-radius: 3px
            -weblit-transition: border-color 0.5s
            transition: border-color 0.5s
            &:before
                position: absolute
                content: ''
                width: 6px
                height: 9px
                left: 6px
                top: calc(50% - 5px)
                border: 1px solid
                border-width: 0 2px 2px 0
                -webkit-transform: rotate(45deg)
                transform: rotate(45deg)
                opacity: 0
                -weblit-transition: opacity 0.5s
                transition: opacity 0.5s
        input
            display: none
            &:checked ~ .checkmark:before
                opacity: 1
        &[disabled]
            color: gainsboro
            cursor: not-allowed
            .checkmark
                cursor: not-allowed
                border-color: #e0e0e0
    &__radio
        display: inline-block
        position: relative
        padding: 0 0 0 23px
        cursor: pointer
        .checkmark
            position: absolute
            height: 12px
            width: 12px
            left: 0
            top: calc(50% - 6px)
            border: 1px solid
            border-radius: 50%
            background-color: white
            opacity: 1
            &:before
                position: absolute
                content: ''
                width: 4px
                height: 4px
                border-radius: 50%
                background-color: black
                opacity: 0
                -webkit-transition: 0.2s opacity
                -moz-transition: 0.2s opacity
                -o-transition: 0.2s opacity
                transition: 0.2s opacity
                left: 3px
                top: 3px
        input
            display: none
            &:checked ~ .checkmark:before
                opacity: 1
        &[disabled]
            cursor: not-allowed
            .checkmark
                cursor: not-allowed
                opacity: 0.2

textarea
    display: inline-block
    width: 100%