.mfp-modal > *
    margin-top: 40px
    &:first-child
        margin-top: 0

.modal__title
    font-size: 24px
    line-height: 26px
    letter-spacing: 0.05em
    text-transform: uppercase
    text-align: center
