@import "variables"

.page
    &__content
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        -webkit-justify-content: space-between
        justify-content: space-between
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__side
        width: calc(25% - 15px)
        margin-right: 15px
        &--eq
            width: calc(50% - 15px)
    &__main
        width: calc(75% - 15px)
        margin-left: 15px
        &--eq
            width: calc(50% - 15px)
        > *
            margin-bottom: 40px
            &:last-child
                margin-bottom: 0
    &__heading
        padding-bottom: 0

.mf-captcha .mf-text
    text-align: center
    font-size: 18px
    padding: 0 0 20px
    &.warning
        color: red

.html_content
    > *, > div:not(.image-container--row) > *
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
    *:not(h1):not(h2):not(h3):not(h4):not(h5):not(a)
        font: 14px/180% $ffr
    dd
        margin-inline-start: 0
    dt
        text-decoration: underline
    ul
        list-style: inside radial-gradient(#ffdd16 80%, transparent 80%)
        li
            padding: 6px 0
    table
        width: 100%
        font: 15px/18px $ffr
        td
            border: 1px solid #e8e8e8
            padding: 6px 10px
            vertical-align: top
    img, iframe
        max-width: 100%
    img
        height: auto
    strong
        font-weight: inherit
    em
        font-style: inherit
    p img
        margin: 20px 0

.service
    &-request
        background: url(/images/bckgrnd_1.png) center/cover no-repeat
        text-align: center
        width: 100%
        padding: 40px 20px
        h2
            color: white
            -ms-flex-preferred-size: 100%
            font: 32px/45px $ff
            max-width: 600px
            margin: 0 auto 40px

    &-contacts, &-prices, &-advs
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        margin-left: -15px
        margin-right: -15px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            padding: 0 15px
            width: 100%
    &-contacts
        &__item
            &-title
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                font-size: 1.1em
                font-weight: 700
                margin-bottom: 20px
                img
                    height: 24px
                    margin-right: 5px
                    min-width: 24px
    &-prices
        &__item
            background-color: #f7f7f7
            border: 1px solid #d0d0d0
            height: 100%
            &-title
                border-bottom: 1px solid #d0d0d0
                color: #888
                font-size: 1.6em
                font-weight: 300
                padding-bottom: 10px
                padding-top: 10px
                text-align: center
                min-height: 80px
            &-time
                font-size: 1.4em
                padding-top: 25px
                text-align: center
            &-price
                color: #f0d200
                font-size: 2em
                font-weight: 700
                padding-bottom: 10px
                text-align: center
    &-advs
        &__item
            &-title
                color: #888
                font-size: 1.6em
                font-weight: 300
                padding-bottom: 20px
                position: relative
                &:after
                    background-color: #888
                    bottom: 0
                    content: ""
                    display: block
                    height: 8px
                    left: 0
                    position: absolute
                    width: 50px
            &-descr
                padding-top: 20px

    &-contacts__item
        &-email, &-name, &-phone, &-worktime
            padding-left: 35px


.image-container--row
    margin-left: -15px
    margin-right: -15px
    img
        width: calc(50% - 2px)
        height: 300px
        padding: 0 15px
        -o-object-fit: cover
        object-fit: cover

blockquote
    border-left: 8px solid #f0d200
    color: #939393
    font-size: 1.8em
    font-weight: 300
    line-height: 1.4
    margin-left: 0
    margin-right: 0
    padding-left: 30px

@media screen and (max-width: 1024px)
    .page
        &__content
            display: block
            > *
                width: 100%
                margin: 0 0 30px
        &__side
            display: none

@media screen and (max-width: 768px)
    img
        float: unset !important

    .service
        &-contacts, &-prices, &-advs
            display: block
            margin-left: 0
            margin-right: 0
            > *
                padding: 0
                margin: 0 0 20px
                &:last-child
                    margin-bottom: 0
        &-request h2
            font-size: 25px
            line-height: 1.5

    .image-container--row
        margin-left: 0
        margin-right: 0
        text-align: center
        img
            width: 100%
            max-width: 400px
            height: auto
            padding: 0
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
    .html_content table
        white-space: nowrap
        width: initial
        overflow-x: auto

