@keyframes lds-ring
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

#preloader
    display: none
    position: -webkit-sticky
    position: -ms-device-fixed
    position: fixed
    top: calc(50% - 32px)
    left: calc(50% - 32px)

#preloader, .preloader
    .lds-ring
        display: block
        position: relative
        width: 64px
        height: 64px
        margin: 0 auto
        div
            display: block
            position: absolute
            width: 25px
            height: 25px
            margin: 6px
            border: 3px solid #fff
            border-radius: 50%
            -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
            border-color: #a9a9a9 transparent transparent transparent
            &:nth-child(1)
                -webkit-animation-delay: -0.45s
                animation-delay: -0.45s
            &:nth-child(2)
                -webkit-animation-delay: -0.3s
                animation-delay: -0.3s
            &:nth-child(3)
                -webkit-animation-delay: -0.15s
                animation-delay: -0.15s