#tooltip
    position: -webkit-sticky
    position: -ms-device-fixed
    position: fixed
    max-width: 300px
    text-align: center
    font-size: 12px
    line-height: 14px
    background-color: #D4DEE3
    border-radius: 3px
    padding: 9px 17px
    -webkit-transition: opacity 0.2s ease 0.2s
    transition: transform 0.2s ease 0.2s
    -webkit-transform: translate(-50px, -20px) scale(0)
    transform: translateY(-50px, -20px) scale(0)
    z-index: 1
    &:before
        position: absolute
        content: ''
        border: 9px solid transparent
        border-color: #D4DEE3 transparent transparent transparent
        top: 100%
        left: calc(50% - 12px)
    &.visible
        transform: translate(-50px, -20px) scale(1)