@import "../../../../css/variables"

.useful
    &__tiles
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        color: white
        font: 14px/20px $ffbb
        text-transform: uppercase
        flex-wrap: wrap
        margin: -15px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 25%
            height: 220px
            padding: 15px
    &__tile
        position: relative
        height: 100%
        > img
            position: absolute
            width: 100%
            height: 100%
            -o-object-fit: cover
            object-fit: cover
            -webkit-filter: brightness(0.7)
            filter: brightness(0.7)
            -webkit-transition: filter 0.2s
            transition: filter 0.2s
        > a
            display: inline-block
            position: relative
            width: 100%
            height: 100%
            padding: 100px 15px 15px
        &:hover
            > img
                -webkit-filter: brightness(0.5)
                filter: brightness(0.5)


@media screen and (max-width: 1024px)
    .useful__tiles > *
        width: 50%

@media screen and (max-width: 768px)
    .useful
        &__tiles
            display: block
            margin-left: 0
            margin-right: 0
            > *
                width: 100%
                max-width: 300px
                margin: 0 auto 20px
                padding: 0
        &__all
            display: inline-block
            margin-left: auto