@import "../../../../css/variables"

.menu--side
    margin-bottom: 20px
    position: relative
    font-size: 16px
    line-height: 18px
    .menu__text
        display: inline-block
        width: 100%
        position: relative
        color: #676771
        padding: 20px 10px 20px 35px
        &:before, &:after
            position: absolute
            content: ""
        &.parent
            &:after
                cursor: pointer
                width: 7px
                height: 7px
                transform: rotate(-45deg)
                top: calc(50% - 4px)
                left: 10px
                border: 1px solid #676767
                border-width: 0 1px 1px 0
    .first-child
        font: 15px/18px $ff
        height: 0
        -webkit-transform: scaleY(0)
        transform: scaleY(0)
        -webkit-transform-origin: center top
        transform-origin: center top
        background-color: #ececed
        -webkit-transition: transform 0.2s
        transition: transform 0.2s
        > li
            margin: 0
            .menu__text
                border-bottom: 1px solid #a9a9a9
                margin: 0 20px
                width: calc(100% - 40px)
                &:before
                    content: unset
            &:last-child .menu__text
                border: none
            a
                width: 100%
    li
        position: relative
        margin-bottom: 5px
        line-height: 1.3
        background-color: #ececed
        -webkit-transition: background-color 0.2s
        transition: background-color 0.2s
        > a
            position: absolute
            width: calc(100% - 30px)
            height: 100%
            right: 0
            top: 0
        &:hover
            background-color: #e1e1e1
            color: #825c2f
            > .menu__text:after
                border-color: #825c2f
        &.expanded
            .menu__text:after
                transform: rotate(45deg)
            .first-child
                height: initial
                -webkit-transform: scaleY(1)
                transform: scaleY(1)
        &.active
            font-family: $ffbb
            > .menu__text
                &:before
                    background-color: #f0d200
                    height: 100%
                    width: 28px
                    left: 0
                    top: 0


.side__links
    display: -webkit-flex
    display: -ms-flexbox
    display: -moz-flex
    display: -o-flex
    display: flex
    -webkit-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: space-between
    justify-content: space-between
    color: #8a8a8a
    font-size: 16px
    &_link
        display: inline-block
        background: transparent left/contain no-repeat
        padding: 5px 0 5px 27px
        margin-bottom: 20px
        background-size: 100% 100%, auto 66px
        background-position: 0 calc(100% + -3px)
        &:hover
            background-blend-mode: difference
        &.docs
            background-image: linear-gradient(#ffffff7a, #ffffff7a), url(/images/icon-doc.png)
        &.scopes
            background-image: linear-gradient(#ffffff7a, #ffffff7a), url(/images/icon-setting.png)