.page-nav {
    display: block;
    position: relative;
}

.page-nav.news {
    display: inline-block;
    margin-right: 30px;
}

.page-nav .prev.disable {
    background-position: left top;
    cursor: default;
}
.page-nav>a.disable {
    opacity: 1;
}
.page-nav .prev {
    background-position: left bottom;
}

.page-nav .next {
    background-position: right bottom;
}

.page-nav>a {
    background: url(/images/nav-item.png) no-repeat left top;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 20px;
}

.page-nav .count-page {
    display: inline-block;
    font-size: 20px;
    padding-left: 100px;
    position: relative;
    vertical-align: middle;
}
.page-nav .count-page:before {
    background-color: #ececed;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 90px;
}
.page-nav .count-page span {
    color: #d5d4d4;
}
.fnews {
    text-decoration: none;
}
.fnews span {
    text-decoration: underline;
}