.search__icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  cursor: pointer;
}
.search__form {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  -webkit-transform-origin: top;
  transform-origin: top;
  height: 0;
  padding: 0 calc((100vw - 1200px) / 2);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  z-index: 2;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.search__form input {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid gainsboro;
  box-shadow: 3px 3px 5px 0 #e6e6e6;
}

.header__search.activated .search__form {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*# sourceMappingURL=style.css.map */
