.menu__container {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  position: fixed;
  text-transform: uppercase;
  left: 0;
  top: 38px;
  height: 100vh;
  max-width: calc(100% - 20px);
  overflow-y: auto;
  z-index: 2;
  background-color: white;
  padding-bottom: 30px;
  border-style: solid;
  border-color: white;
  border-width: 80px 0 20px 20px;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.menu__container.activated {
  transform: translateX(0);
}
.menu__container .menu__item > a {
  display: inline-block;
  padding: 10px 0;
}
.menu__container .menu__item_child {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  font-size: 11px;
  padding-left: 10px;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.menu__container .menu__item.parent {
  position: relative;
}
.menu__container .menu__item.parent:before {
  position: absolute;
  content: "";
  border: 2px solid #F2A000;
  width: 7px;
  height: 7px;
  border-width: 2px 0 0 2px;
  right: 10px;
  transform: rotate(-135deg);
  top: 5px;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}
.menu__container .menu__item.parent.expanded .menu__item_child {
  height: initial;
  transform: scaleY(1);
}
.menu__container .menu__item.parent.expanded:before {
  transform: rotate(45deg);
}
.menu__trigger {
  width: 40px;
  height: auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .menu__trigger {
    z-index: 3;
  }
}

/*# sourceMappingURL=style.css.map */
