.error-b
    background: url(/images/404.jpg) no-repeat left center
    height: 700px
    padding-top: 150px
    text-align: center
    width: 100%
    .text-error
        background: url(/images/404.png) no-repeat top center
        float: right
        padding-top: 192px
        width: 59%
    h2
        border-bottom: 6px solid #f0d200
        color: #909090
        display: inline-block
        margin-bottom: 15px
        padding-bottom: 5px
    h4
        color: #909090
        font-size: 21px
    p
        color: #3d3d3d
        font-size: 17px
        line-height: 27px

@media screen and (max-width: 768px)
    .error-b
        background-position: center center
        .text-error
            width: 100%