@import "../../css/variables"

.contacts
    padding: 20px 0 0
    &__page
        display: -o-flex
        display: -moz-flex
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__main, &__block
        > *
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
    &__main
        width: calc(40% - 15px)
        margin-right: 15px
        font-size: 19px
        line-height: 28px
        > *
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        dl
            dt
                font-family: $ffbb
            &:not(.address)
                dd > *
                    margin-right: 20px
                    &:last-child
                        margin-right: 0
    &__side
        width: calc(60% - 15px)
        margin-left: 15px

// со старого сайта
.main-title
    clear: both
    color: #929292
    font-size: 28px
    margin-bottom: 20px
    position: relative

.contact-info
    h3
        color: #929292
        font-size: 22px
        margin: 16px 0
    .address
        background: url(/images/icon-home-2.png) no-repeat left top
        line-height: 19px
        margin-bottom: 10px
        padding-left: 25px
    .phone
        background: url(/images/icon-phone.png) no-repeat left top
        padding-left: 25px
        dl
            line-height: 17px
            margin: 0 0 5px
            dd, dt
                display: inline-block
                vertical-align: top
    .mail, .phone
        margin-bottom: 10px
    .openingHours
        display: none
        line-height: 17px
        margin-bottom: 10px
        padding-left: 25px
    div[itemprop="department"] .openingHours
        display: block
    .rkb
        line-height: 17px
        padding-left: 25px

.contact-info .mail, .info-lp .mail
    background: url(/images/icon-mail.png) no-repeat left center
    line-height: 16px
    padding-left: 25px

.map-b
    float: right
    position: relative
    width: 78.2%

.hr
    display: block
    background-color: #e3e3e3
    clear: both
    height: 1px
    margin: 60px 0
    &.m
        margin: 30px 0
//

@media screen and (max-width: 768px)
    .contacts__page
        display: block
        > *
            width: 100% !important
            margin: 0 0 30px
            &:last-child
                margin: 0