.service
    &_index
        background-color: #F7F7F7
    &__tiles
        font: 16px/20px $ffb
        text-transform: uppercase
        display: -moz-grid
        display: -ms-grid
        display: grid
        -ms-grid-columns: 1fr 1fr 1fr 1fr
        grid-template-columns: repeat(4, 1fr)
        -ms-grid-rows: 140px 140px 140px 140px
        grid-template-rows: repeat(7, 120px)
        grid-gap: 24px
        > *
            &:first-child
                -ms-grid-row: 1
                -ms-grid-column: 1
                -ms-grid-row-span: 3
                -ms-grid-column-span: 2
                grid-area: 1 / 1 / span 3 / span 2
            &:nth-child(2)
                -ms-grid-row: 1
                -ms-grid-column: 3
                -ms-grid-row-span: 2
                -ms-grid-column-span: 1
                grid-area: 1 / 3 / span 2 / span 1
            &:nth-child(3)
                -ms-grid-row: 1
                -ms-grid-column: 4
                -ms-grid-row-span: 2
                -ms-grid-column-span: 1
                grid-area: 1 / 4 / span 2 / -1
            &:nth-child(4)
                -ms-grid-row: 4
                -ms-grid-column: 1
                -ms-grid-row-span: 4
                -ms-grid-column-span: 1
                grid-area: 4 / 1 / -1 / span 1
            &:nth-child(5)
                -ms-grid-row: 4
                -ms-grid-column: 2
                -ms-grid-row-span: 2
                -ms-grid-column-span: 1
                grid-area: 4 / 2 / span 2 / span 1
            &:nth-child(6)
                -ms-grid-row: 3
                -ms-grid-column: 3
                -ms-grid-row-span: 3
                -ms-grid-column-span: 2
                grid-area: 3 / 3 / span 3 / -1
            &:nth-child(7)
                -ms-grid-row: 6
                -ms-grid-column: 2
                -ms-grid-row-span: 2
                -ms-grid-column-span: 1
                grid-area: 6 / 2 / -1 / span 1
            &:last-child
                -ms-grid-row: 6
                -ms-grid-column: 3
                -ms-grid-row-span: 2
                -ms-grid-column-span: 2
                grid-area: 6 / 3 / -1 / -1
    &__tile
        height: 100%
        position: relative
        padding: 17px
        color: white
        > span, > img
            display: inline-block
            position: relative
        > img
            -webkit-filter: brightness(0.7)
            filter: brightness(0.7)
        &_label
            position: absolute !important
            right: 0
            bottom: 0
            width: 60px !important
            height: 50px !important
            background-color: rgba(255, 207, 0)
            opacity: 0.7
            font-size: 12px
            -webkit-transition: padding 0.2s, opacity 0.2s
            transition: padding 0.2s, opacity 0.2s
            &:before
                position: absolute
                content: "Подробнее"
                font-size: 14px
                line-height: 16px
                -webkit-transform-origin: left
                transform-origin: left
                -webkit-transform: scaleX(0)
                -ms-transform: scaleX(0)
                transform: scaleX(0)
                left: 20px
                top: calc(50% - 7px)
                color: black
                z-index: 1
                -webkit-transition: transform 0.2s
                transition: transform 0.2s
            > svg
                width: 32px !important
                right: 14px !important
                position: absolute
                height: 16px !important
                top: calc(50% - 7px)
        &:hover
            .service__tile_label
                padding-left: 164px
                opacity: 1
                &:before
                    -webkit-transform: scaleX(1)
                    -ms-transform: scaleX(1)
                    transform: scaleX(1)


.concrete
    border-bottom: 1px solid #f1f1f1
    &__tiles
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        margin: 80px -15px 60px
        font: 300 15px/24px $ffrl
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 100%
            padding: 0 15px
            &:last-child .concrete__tile_preview:before
                left: initial
                top: initial
                right: 0
                bottom: 0
    &__tile
        max-width: 435px
        margin-left: auto
        margin-right: auto
        > *
            margin-bottom: 40px
            &:last-child
                margin: 0

        &_preview
            position: relative
            text-align: center
            padding: 20px 0 20px
            height: 120vw
            max-height: 443px
            &:before
                position: absolute
                content: ''
                background-color: #FFCF00
                width: 100px
                height: 260px
                left: 0
                top: 0
            > img
                position: relative
                width: calc(100% - 40px)
                height: 100%
                -o-object-fit: cover
                object-fit: cover
        &_title
            text-align: center
            text-transform: uppercase


.advantages
    &__tiles, &__tiles--putz
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        margin: -15px
        font: 300 12px/20px $ffrl
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            padding: 15px
            width: 100%
    &__tile, &__tile--putz
        > svg
            height: 49px
            width: 49px
        > *
            margin-bottom: 20px
            &:last-child
                margin: 0
    &__tile--putz
        position: relative
        padding-top: 60px
        font-weight: 300
        font-size: 15px
        line-height: 24px
        .checkmark
            position: absolute
            width: 45px
            height: 45px
            top: 0
            left: 0
            &:before, &:after
                position: absolute
                content: ''
            &:before
                width: 100%
                height: 100%
                background-color: #FFCF00
                top: 0
                left: 0
            &:after
                border: 2px solid #000000
                width: 8px
                height: 12px
                border-width: 3px 0 0 3px
                left: 18px
                transform: rotate(-135deg)
                top: calc(50% - 8px)
                opacity: 0.5
    &__title
        font: 16px/20px $ffb
    &__banner
        background-color: #FFCF00
        padding: 43px
        font: 14px/20px $ffr
        margin-bottom: 76px !important


.useful
    background-color: #F3F3F3

@media screen and (max-width: 1024px)
    .service__tiles
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        > *
            height: 50vw

    .service, .concrete, .advantages
        &__tiles, &__tiles--putz
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            margin: -15px
            > *
                -webkit-flex: 0 1 auto
                -ms-flex: 0 1 auto
                flex: 0 1 auto
                width: 50%
                padding: 15px

@media screen and (max-width: 768px)
    .service__tiles > *
        max-height: 200px

    .advantages, .concrete
        &__tiles, &__tiles--putz
            display: block
            margin: 0 0 30px
            > *
                width: 100%
                padding: 0
                margin: 0 0 30px
                &:last-child
                    margin: 0


    .advantages__tile--putz
        padding-top: 60px