.news
    &__page
        display: -o-flex
        display: -moz-flex
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__main
        width: calc(75% - 15px)
        margin-right: 15px
        h1
            margin-bottom: 30px
    &__side
        width: calc(25% - 15px)
        margin-left: 15px

@media screen and (max-width: 768px)
    .news__page
        display: block
        > *
            width: 100% !important
            margin: 0 0 30px
            &:last-child
                margin: 0