.main
    &-rt-side
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
        .main-side
            position: relative
            width: calc(75% - 30px)
            margin-right: 30px
        .rt-side
            position: relative
            width: 25%
    &-title
        clear: both
        color: #929292
        font-size: 28px
        margin-bottom: 20px
        position: relative
        > h1
            background-color: #fff
            display: inline-block
            padding-right: 10px
            width: 100%

.rt-side .interesting-links > ul
    column-count: 1
    -moz-column-count: 1
    -webkit-column-count: 1

.interesting-links
    margin-bottom: 20px
    > ul
        column-count: 2
        -moz-column-count: 2
        -webkit-column-count: 2
        > li
            background: url(/images/list-style.png) no-repeat left 6px
            font-size: 17px
            margin-bottom: 20px
            padding-left: 20px
            a
                color: #4182b4

.text-block
    display: block
    font-size: 15px
    line-height: 23px
    margin-bottom: 20px
    overflow: hidden
    font-family: Arial, sans-serif
    h1
        color: #929292
        font-size: 28px
        line-height: 30px
    p
        margin-bottom: 10px
    &.one-news > p
        padding-bottom: 15px
    a
        color: #3f82b9
    h4
        color: #929292
        font-size: 20px
        margin-bottom: 5px


.one-news
    text-align: justify
    .main-title
        background: url(/images/icon-3.png) no-repeat left 2px
        padding-left: 25px
        text-align: left

@media screen and (max-width: 768px)
    .main-rt-side
        display: block
        > *
            width: 100% !important
            margin: 0 0 30px
            &:last-child
                margin: 0