.regions
    &__title, &__selector
        display: inline-block
        vertical-align: middle
    &__selector
        float: right
        .wrap__select .select__selected
            width: 200px
    &__legend
        > *
            display: inline-block
            margin-right: 20px
            > img
                margin-right: 20px
                vertical-align: middle

#map__regions
    width: 100%
    height: 565px

@media screen and (max-width: 768px)
    .regions
        &__title, &__legend > *
            display: block
            margin: 0 0 20px
            &:last-child
                margin-bottom: 0
        &__selector
            float: unset
