.services
    > *
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
    &__row
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        margin-left: -15px
        margin-right: -15px
        color: white
        font-size: 22px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            padding: 0 15px
            width: 100%
.service
    &__item
        position: relative
        height: 100%
        img
            position: absolute
            height: 100%
            width: 100%
            top: 0
            left: 0
            -o-object-fit: cover
            object-fit: cover
            filter: brightness(0.7)
            -webkit-transition: filter 0.2s
            transition: filter 0.2s
        a
            display: inline-block
            width: 100%
            position: relative
            padding: 100px 10px 70px
        &:hover
            img
                filter: brightness(0.4)

@media screen and (max-width: 768px)
    .services__row
        display: block
        max-width: 400px
        margin: 0 auto 0
        > *
            padding: 0
            margin: 0 0 20px
            &:last-child
                margin-bottom: 0