.uslugi
    &__tiles
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-flex-wrap: wrap
        flex-wrap: wrap
        color: white
        font: 18px/24px $ffb
        margin: -15px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            width: 25%
            padding: 15px
    &__tile
        height: 100vw
        max-height: 200px
        padding: 120px 20px 10px
        cursor: pointer
        > span
            position: relative
        > img
            -webkit-filter: brightness(0.7)
            filter: brightness(0.7)
            -webkit-transition: filter 0.2s
            transition: filter 0.2s
        &:hover
            > img
                filter: brightness(0.5)

.page-services
    color: #3d3d3d
    font-family: $ffr
    font-size: 15px
    font-weight: 400

.container--half
    max-width: 900px

.page-services, .container--half
    > *
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0

@media screen and (max-width: 1024px)
    .uslugi
        &__tiles > *
            width: 50%

@media screen and (max-width: 768px)
    .uslugi
        &__tiles
            display: block
            margin-left: 0
            margin-right: 0
            margin-top: 0
            > *
                width: 100%
                padding: 0
                margin: 0 0 30px
                &:last-child
                    margin: 0
        &__tile
            max-height: 300px