.tech
    &__content
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &__left, &__right
        width: calc(50% - 10px)
    &__left
        margin-right: 10px
    &__right
        margin-left: 10px
        p
            max-width: 490px
            margin: auto

@media screen and (max-width: 768px)
    .tech
        &__content
            -webkit-flex-direction: column
            flex-direction: column
            > *
                width: 100%
                margin-left: 0
                margin-right: 0
        &__right
            order: -1
            margin-bottom: 20px
            p
                margin: 0