@import "../../../../css/variables"

.pm-post
    &__tabs
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        font: 20px/1 $ffb
        color: #0b0b0b
        > *
            flex: 0 1 auto
            .active
                background-color: #ffd201 !important
    &__issue
        display: inline-block
        margin-right: 20px
        font-size: 22px
        position: relative
        > *
            margin-bottom: 20px
            &:last-child
                margin: 0
        img
            max-width: 200px
            max-height: 200px
            -o-object-fit: contain
            object-fit: contain
        &:hover .pm-post__link
            text-decoration-color: transparent
    &__link
        background: url(/images/icon-pdf.png) no-repeat left center
        padding: 5px 0 5px 30px
        color: #4182b4
        font-size: 16px
        text-decoration: underline solid
        -webkit-transition: text-decoration-color 0.2s
        transition: text-decoration-color 0.2s
    &__cover
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0