.pm-post__tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font: 20px/1 "Helios Bold", sans-serif;
  color: #0b0b0b;
}
.pm-post__tabs > * {
  flex: 0 1 auto;
}
.pm-post__tabs > * .active {
  background-color: #ffd201 !important;
}
.pm-post__issue {
  display: inline-block;
  margin-right: 20px;
  font-size: 22px;
  position: relative;
}
.pm-post__issue > * {
  margin-bottom: 20px;
}
.pm-post__issue > *:last-child {
  margin: 0;
}
.pm-post__issue img {
  max-width: 200px;
  max-height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}
.pm-post__issue:hover .pm-post__link {
  text-decoration-color: transparent;
}
.pm-post__link {
  background: url(/images/icon-pdf.png) no-repeat left center;
  padding: 5px 0 5px 30px;
  color: #4182b4;
  font-size: 16px;
  text-decoration: underline solid;
  -webkit-transition: text-decoration-color 0.2s;
  transition: text-decoration-color 0.2s;
}
.pm-post__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
