@charset "UTF-8";
.element__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.element__row > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.element__main > *, .element__side > * {
  margin-bottom: 40px;
}
.element__main > *:last-child, .element__side > *:last-child {
  margin-bottom: 0;
}
.element__main {
  width: calc(66.6% - 15px);
  margin-right: 15px;
}
.element__side {
  width: calc(33.3% - 15px);
  margin-left: 15px;
  color: #828282;
  text-align: right;
}
.element__article {
  font-size: 21px;
}
.element__picture {
  position: relative;
}
.element__picture img {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 600px;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: filter 0.2s;
  transition: filter 0.2s;
}
.element__picture:hover img {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}
.element__availability {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  font-size: 18px;
}
.element__availability:before, .element__availability:after {
  position: absolute;
  content: "";
}
.element__availability:before {
  width: 20px;
  height: 100%;
  background-color: #ffcf00;
  left: 0;
}
.element__availability:after {
  border: 1px solid;
  border-width: 0 2px 2px 0;
  height: 8px;
  width: 5px;
  left: 8px;
  color: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(50% - 5px);
}
.element__availability.outofstock:before {
  background-color: #ff0000;
}
.element__availability.outofstock:after {
  border: 2px solid white;
  width: 14px;
  left: 3px;
  transform: unset;
  height: 0;
  top: 9px;
}
.element__prices {
  font: 600 26px/normal "Open Sans", sans-serif;
  color: dimgrey;
}

.price {
  display: inline-block;
}
.price--rub {
  position: relative;
  padding-right: 21px;
}
.price--rub:before {
  position: absolute;
  content: "₽";
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .element__row {
    display: block;
  }
  .element__row > * {
    width: 100%;
    margin: 0 0 20px;
  }
  .element__row > *:last-child {
    margin: 0;
  }
  .element__side {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
