#search_form_mobile
    padding: 5px 10px
    border: 1px solid
    margin-right: 20px
    color: #868686
    input
        display: inline-block
        height: 23px
        vertical-align: middle
        border: none
        padding: 0
        &[name="q"]
            width: calc(100% - 34px)
        &[name="s"]
            position: relative
            width: 30px
            height: 30px
            background-color: transparent
            transform: rotate(-45deg)
            font-size: 40px
            line-height: 0
            color: inherit