#search_form_mobile {
  padding: 5px 10px;
  border: 1px solid;
  margin-right: 20px;
  color: #868686;
}
#search_form_mobile input {
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  border: none;
  padding: 0;
}
#search_form_mobile input[name=q] {
  width: calc(100% - 34px);
}
#search_form_mobile input[name=s] {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transform: rotate(-45deg);
  font-size: 40px;
  line-height: 0;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
