#horizontal-multilevel-menu li ul {
	transform: scaleY(0);
	transform-origin: center top;
	position:absolute;
	top: 100%;
	left: 0;
	z-index:500;
    min-width: 100%;
    max-width: 100vw;
	height:auto;
	background:#ececed;
	border:none;
}

#horizontal-multilevel-menu li ul li {
	position: relative;
	padding: 10px 15px;
	transition: background-color 0.2s;
}
#horizontal-multilevel-menu li ul li:hover {
	background-color: #f0d200;
}

#horizontal-multilevel-menu li a {
	display: block;
	z-index: 1;
}

#horizontal-multilevel-menu li.expanded ul ul,
#horizontal-multilevel-menu li.expanded ul ul ul,
#horizontal-multilevel-menu li.forced ul,
#horizontal-multilevel-menu li li.forced ul {
	transform: scaleY(0);
	height: 0;
	transform-origin: center top;
}

#horizontal-multilevel-menu li.expanded ul,
#horizontal-multilevel-menu li li.expanded ul {
	animation: 0.2s ease-out 0.1s 1 normal forwards running expand;
}

.tabs-menu {
	display: flex;
	text-align: center;
	background-color: #ececed;
	font: 21px helioslight, sans-serif;
	margin-bottom: 15px;
}
.tabs-menu > * {
	position: relative;
	flex: 1 1 auto;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
}
.tabs-menu > *:before {
	position: absolute;
	content: '';
	border: 1px solid #d4d4d4;
	height: 50%;
	left: 0;
}
.tabs-menu > *:first-child:before {
	display: none;
}

.tabs-menu .parent {
	position: relative;
	padding-right: 20px;
}
.tabs-menu .parent:after{
	position: absolute;
	content: '';
	right: 10px;
	top: calc(50% - 4px);
	border: 4px solid;
	border-color: transparent #676767 #676767 transparent;
	transform: rotate(45deg);
}

.tabs-menu > li:hover {
	background-color: #f0d200;
}
.tabs-menu > li:hover:after {
	transform: rotate(-135deg);
	top: calc(50% - 2px);
}

.tiles {
    display: flex;
    flex-wrap: wrap;
	width: 1000px;
}

.tiles > * {
	flex: 0 0 auto;
	box-sizing: border-box;
	width: 16.66%;
	padding: 10px;
	transition: background-color 0.2s;
}
.tiles > *:hover {
	background-color: #f0d200;
}
.menu__tile_preview {
	height: 100px;
}
.menu__tile_title {
	margin-top: 10px;
}

.close {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 0 !important;
	top: 20px;
	left: 20px;
	z-index: 3000;
}

.close:before, .close:after {
	display: initial !important;
	position: absolute;
	content: '';
	width: 133%;
	height: 3px;
	background-color: #d68600;
	transform: rotate(45deg);
	border: none;
	box-sizing: border-box;
	top: 46%;
	left: -6px;
}
.close:after {
	transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	.tabs-menu .parent a {
		width: calc(100% - 30px);
	}
    .tiles {
        width: 100%;
    }
	.tiles > * {
		width: 50%;
	}
	.close {
		display: block;
	}
}