@import "../../../../css/variables"

.header__menu
    display: -webkit-flex
    display: -ms-flexbox
    display: -moz-flex
    display: -o-flex
    display: flex
    font-weight: 600
    font-size: 12px
    text-transform: uppercase
    text-align: -webkit-center
    text-align: center
    > *
        -webkit-flex: 0 1 auto
        -ms-flex: 0 1 auto
        flex: 0 0 auto
        padding-right: 20px
        &:last-child
            padding-right: 0
        &:nth-child(2)
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
    &_item
        > a
            display: inline-block
            position: relative
            width: 100%
            padding: 20px 5px
            -webkit-transition: 0.2s background-color
            transition: 0.2s background-color
        &_child
            position: absolute
            text-align: -webkit-left
            text-align: left
            height: 0
            top: 100%
            left: 0
            width: 100%
            padding: 20px calc((100vw - 1200px)/2)
            -webkit-transform: scaleY(0)
            transform: scaleY(0)
            -webkit-transform-origin: center top
            transform-origin: center top
            z-index: 2
            color: black
            background-color: white
            column-count: 3
            -webkit-transition: color 0.2s, transform 0.2s, height 0.2s
            transition: color 0.2s, transform 0.2s, height 0.2s
            > *
                > a
                    display: inline-block
                    width: calc(100% - 60px)
                    position: relative
                    padding-right: 30px
                    color: inherit
                    -webkit-transition: color 0.2s
                    transition: color 0.2s
                    &:before
                        position: absolute
                        content: ""
                        border: 2px solid #F2A000
                        width: 7px
                        height: 7px
                        border-width: 2px 0 0 2px
                        right: 0
                        -webkit-transform: rotate(135deg)
                        transform: rotate(135deg)
                        top: calc(50% - 5px)
                        -webkit-transition: transform 0.2s, border-color 0.2s
                        transition: transform 0.2s, border-color 0.2s
                &:hover
                    color: black
                    > a:before
                        border-color: black !important
            &:hover
                > *:before
                    border-color: rgba(0,0,0,0.3)
            &.faded
                color: rgba(0, 0, 0, 0.3)

        &.parent
            > a
                position: relative
                padding-right: 30px
                &:before
                    position: absolute
                    content: ""
                    border: 2px solid #F2A000
                    width: 7px
                    height: 7px
                    border-width: 2px 0 0 2px
                    right: 10px
                    -webkit-transform: rotate(-135deg)
                    transform: rotate(-135deg)
                    top: calc(50% - 5px)
                    -webkit-transition: transform 0.2s
                    transition: transform 0.2s
            &.expanded
                .header__menu_item_child
                    -ms-transform: scaleY(1)
                    -webkit-transform: scaleY(1)
                    transform: scaleY(1)
                    height: initial
                > a:before
                    -webkit-transform: rotate(45deg)
                    transform: rotate(45deg)
                    top: calc(50% - 2px)