@import "../../../../css/variables"

#documentation_tree
    font: 13px/normal $ffr
.documentation
    &__container
        > *
            cursor: pointer
    &__content
        -webkit-transform: scaleY(0)
        transform: scaleY(0)
        height: 0
        -webkit-transform-origin: center top
        transform-origin: center top
        white-space: nowrap
        -webkit-transition: transform 0.2s
        transition: transform 0.2s
    &__switch
        border: 1px solid #e4e4e4
        margin: 0 0 10px
        padding: 5px 5px 5px 30px
        position: relative
        &:before, &:after
            position: absolute
            content: ''
            left: 4px
            top: 5px
            width: 18px
        &:after
            height: 18px
            background-color: #c3c3c3
        &:before
            height: calc(100% - 6px)
            background-color: transparent
        &.expanded
            &:before
                background-color: #f8f5e0
            &:after
                background-color: #f0d200
            > .documentation__content
                margin-top: 20px
                height: initial
                -webkit-transform: scaleY(1)
                transform: scaleY(1)
    &__pdf_link
        display: -webkit-flex
        display: -ms-flexbox
        display: -moz-flex
        display: -o-flex
        display: flex
        -webkit-align-items: center
        align-items: center
        margin: 0 0 10px
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
        &:hover
            .pdf_link__download
                width: 72px
                -webkit-transform: scaleX(1)
                transform: scaleX(1)

.pdf_link
    &__title
        overflow-x: hidden
    &__size
        background: url(/images/icon-pdf.png) left/contain no-repeat
        padding: 5px 5px 5px 30px
        width: 100px
        margin-left: auto
        overflow-x: hidden
        white-space: nowrap
    &__download
        -webkit-transform-origin: right center
        transform-origin: right center
        width: 0
        -webkit-transform: scaleX(0)
        transform: scaleX(0)
        background-color: #f0d200
        color: #825c2f
        font-size: 16px
        padding: 5px
        -webkit-transition: transform 0.2s ease 0.1s, width 0.2s ease 0.1s
        transition: transform 0.2s ease 0.1s, width 0.2s ease 0.1s
