@import "../../../../css/variables"

.item
    &__container
        display: -webkit-flex
        display: -ms-flex
        display: flex
        -webkit-flex-direction: column
        flex-direction: column
        color: #676771
        height: 400px
        padding: 0 0 20px
        max-width: 300px
        margin-left: auto
        margin-right: auto
        font-size: 16px
        text-align: center
        > *
            -webkit-flex: 0 1 auto
            -ms-flex: 0 1 auto
            flex: 0 1 auto
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0
    &__preview
        height: 65%
        border: 1px solid #ececec
    &__labels
        position: absolute
        width: 100%
        top: 0
        left: 0
        color: white
    &__label
        display: inline-block
        float: right
        position: relative
        padding: 6px 15px
        background-color: #50a000
        &.HIT
            background-color: #d20000
    &__anons
        background-color: #ececed
        border-top: 4px solid #f0d200
        flex: 1 1 0 !important
        padding: 10px
        > *
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0
    &__price
        padding-top: 10px
        border-top: 1px solid #ececec
        margin-top: auto
        font-size: 21px
        line-height: 1
        color: #a3a3a3
        [data-product_id]
            width: 100%
            padding: 9px
        > *
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0
        &_request_btn
            width: 100%
            color: #676771
            font: 21px/1 $ffl !important
            padding: 7px 20px 10px 38px
            background: #ececed url(/images/send-order.png) left center no-repeat
        &--roubles
            > span
                padding: 0 28px 0 0
                background: url(/images/rubn.png) right/contain no-repeat
                background-position-x: 97%
                background-size: auto 81%
        &--euro
            font-size: 18px
            line-height: 1.4
            color: #c2c2c2