.item__container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #676771;
  height: 400px;
  padding: 0 0 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}
.item__container > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: 10px;
}
.item__container > *:last-child {
  margin-bottom: 0;
}
.item__preview {
  height: 65%;
  border: 1px solid #ececec;
}
.item__labels {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
}
.item__label {
  display: inline-block;
  float: right;
  position: relative;
  padding: 6px 15px;
  background-color: #50a000;
}
.item__label.HIT {
  background-color: #d20000;
}
.item__anons {
  background-color: #ececed;
  border-top: 4px solid #f0d200;
  flex: 1 1 0 !important;
  padding: 10px;
}
.item__anons > * {
  margin-bottom: 10px;
}
.item__anons > *:last-child {
  margin-bottom: 0;
}
.item__price {
  padding-top: 10px;
  border-top: 1px solid #ececec;
  margin-top: auto;
  font-size: 21px;
  line-height: 1;
  color: #a3a3a3;
}
.item__price [data-product_id] {
  width: 100%;
  padding: 9px;
}
.item__price > * {
  margin-bottom: 10px;
}
.item__price > *:last-child {
  margin-bottom: 0;
}
.item__price_request_btn {
  width: 100%;
  color: #676771;
  font: 21px/1 "Helios Light", sans-serif !important;
  padding: 7px 20px 10px 38px;
  background: #ececed url(/images/send-order.png) left center no-repeat;
}
.item__price--roubles > span {
  padding: 0 28px 0 0;
  background: url(/images/rubn.png) right/contain no-repeat;
  background-position-x: 97%;
  background-size: auto 81%;
}
.item__price--euro {
  font-size: 18px;
  line-height: 1.4;
  color: #c2c2c2;
}

/*# sourceMappingURL=style.css.map */
