.mfp-container {
  height: 100vh;
  overflow: auto;
}
.mfp-container::-webkit-scrollbar {
  display: none;
}
.mfp-content .mfp-close {
  position: absolute;
  top: 34px;
  right: 34px;
  margin: 0;
}
.mfp-image-holder .mfp-close {
  position: absolute;
  top: 10px;
  right: 0;
  width: 10px;
}
.mfp-iframe-scaler {
  padding: 0;
  height: 150vw;
  max-height: 600px;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-modal {
  position: relative;
  max-width: 500px;
  margin: auto;
  padding: 60px 50px;
  background-color: white;
  border-top: 6px solid #FFCF00;
}

@media screen and (max-width: 768px) {
  .mfp-modal {
    padding: 20px;
  }
  .mfp-content .mfp-close {
    top: 16px;
    right: 16px;
  }
}

/*# sourceMappingURL=theme.css.map */
