.mfp
    &-container
        height: 100vh
        overflow: auto

        &::-webkit-scrollbar
            display: none

    &-content
         .mfp-close
            position: absolute
            top: 34px
            right: 34px
            margin: 0
    &-image-holder
        .mfp-close
            position: absolute
            top: 10px
            right: 0
            width: 10px
    &-iframe-scaler
        padding: 0
        height: 150vw
        max-height: 600px

    &-fade
        &.mfp-bg
            opacity: 0
            transition: all 0.2s

            &.mfp-ready
                opacity: 0.8

            &.mfp-removing
                opacity: 0

        &.mfp-wrap
            .mfp-content
                opacity: 0
                transition: all 0.2s

            &.mfp-ready .mfp-content
                opacity: 1

            &.mfp-removing .mfp-content
                opacity: 0

    &-modal
        position: relative
        max-width: 500px
        margin: auto
        padding: 60px 50px
        background-color: white
        border-top: 6px solid #FFCF00

@media screen and (max-width: 768px)
    .mfp
        &-modal
            padding: 20px

        &-content .mfp-close
            top: 16px
            right: 16px