.catalog__tiles {
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
  font: 16px/24px "Helios Black", sans-serif;
}
.catalog__tiles > * {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 33.3%;
  padding: 15px;
}
.catalog__tile {
  cursor: pointer;
  color: white;
  height: 230px;
  background: transparent center/cover no-repeat;
  border: 5px solid #FFCF00;
  border-width: 5px 0 0;
}
.catalog__tile_title {
  padding: 20px 50px 20px 10px;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  position: relative;
}
.catalog__tile_title > svg {
  opacity: 0;
  position: absolute;
  width: 30px !important;
  height: 15px;
  right: 15px;
  left: initial !important;
  top: calc(50% - 8px);
  transition: 0.2s opacity;
}
.catalog__tile:hover .catalog__tile_title {
  background-color: #FFCF00;
  color: black;
}
.catalog__tile:hover .catalog__tile_title > svg {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .catalog__tiles > * {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .catalog__tiles {
    display: block;
    margin: 0;
  }
  .catalog__tiles > * {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
