@import "../../../../css/variables"

#del_filter
    margin-left: auto

.bx-filter-parameters-box-container
    display: flex
    justify-content: space-between
    align-items: flex-start
    font-size: 11px
    font-weight: 600
    > *
        flex: 0 1 auto
        box-sizing: border-box
    input
        background: none
        border: none
        cursor: pointer
        font-size: inherit
    a
        color: inherit
        text-decoration: none

#smartfilter
    background-color: #F5F5F5
    font: 14px/17px $ffr
    margin-bottom: 20px
    padding: 20px
    > *
        padding-bottom: 20px

.smartfilter
    &__body
        position: relative
        z-index: 1
        display: flex
        > *
            flex: 1 1 auto
            box-sizing: border-box
            margin: 0 10px 0 0
            &:last-child
                margin: 0
    [type='submit']
        background: none
        border: none
    [name='set_filter']
        background: transparent right/contain no-repeat
        padding-right: 25px
        border: none
        background-size: auto 80%
        background-position: 100% 50%

@media screen and (max-width: 768px)
    .smartfilter
        &__body
            display: block
            max-width: 400px
            margin-left: auto
            margin-right: auto
            > *
                margin: 0 0 20px