#del_filter {
  margin-left: auto;
}

.bx-filter-parameters-box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 11px;
  font-weight: 600;
}
.bx-filter-parameters-box-container > * {
  flex: 0 1 auto;
  box-sizing: border-box;
}
.bx-filter-parameters-box-container input {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
.bx-filter-parameters-box-container a {
  color: inherit;
  text-decoration: none;
}

#smartfilter {
  background-color: #F5F5F5;
  font: 14px/17px "Open Sans", sans-serif;
  margin-bottom: 20px;
  padding: 20px;
}
#smartfilter > * {
  padding-bottom: 20px;
}

.smartfilter__body {
  position: relative;
  z-index: 1;
  display: flex;
}
.smartfilter__body > * {
  flex: 1 1 auto;
  box-sizing: border-box;
  margin: 0 10px 0 0;
}
.smartfilter__body > *:last-child {
  margin: 0;
}
.smartfilter [type=submit] {
  background: none;
  border: none;
}
.smartfilter [name=set_filter] {
  background: transparent right/contain no-repeat;
  padding-right: 25px;
  border: none;
  background-size: auto 80%;
  background-position: 100% 50%;
}

@media screen and (max-width: 768px) {
  .smartfilter__body {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .smartfilter__body > * {
    margin: 0 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
