@import "../../../templates/Putzmeister/css/variables"

.wrap
    &__select
        position: relative
        .select__selected
            padding: 18px 30px 18px 12px
            font: 12px/14px $ff
            border: 1px solid #a5a5a5
            border-radius: 2px
            position: relative
            background-color: white
            white-space: nowrap
            overflow: hidden
            cursor: pointer
            &:before
                position: absolute
                content: ""
                border: 2px solid #B3B3B3
                border-width: 2px 0 0 2px
                width: 7px
                height: 7px
                right: 14px
                transform: rotate(-135deg)
                top: calc(50% - 5px)
                transition: transform 0.2s
        .select__list
            position: absolute
            background-color: white
            width: 100%
            left: 0
            top: calc(100% - 1px)
            -webkit-transform-origin: center top
            transform-origin: center top
            -webkit-transform: scaleY(0)
            transform: scaleY(0)
            height: 0
            z-index: 3
            max-height: 300px
            overflow: hidden auto
            border: 1px solid darkgrey
            border-top: none
            transition: transform 0.2s, height 0.2s
            > *
                padding: 10px
                transition: background-color 0.2s
                display: block
                cursor: pointer
                &:hover
                    background-color: rgba(169, 169, 169, 0.23)
        input
            position: absolute
            opacity: 0
        &.expanded
            .select__selected:before
                transform: rotate(45deg)
            .select__list
                height: initial
                -ms-transform: scaleY(1)
                -webkit-transform: scaleY(1)
                transform: scaleY(1)
        &.disabled .select__selected
            color: gainsboro
            cursor: not-allowed
            background-color: #f6fafd