@import "../../../../css/variables"

.footer
    &__menu
        width: 75%
        display: -moz-flex
        display: -o-flex
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        padding-top: 45px
        font: 500 14px/35px $fft
        text-transform: uppercase
        > *
            -webkit-flex: 1 1 auto
            -ms-flex: 1 1 auto
            flex: 1 1 auto
            width: 100%
        li
            color: white
            &:last-child
                margin: 0
            &.root-item
                color: #FFCF00
                padding: 0
                > ul > li:not(.root-item)
                    text-decoration: underline
                    font: 14px/17px $ff
                    padding: 7px 0
                    text-transform: initial
                    -webkit-transition: 0.2s color
                    transition: 0.2s color
                    &:hover
                        text-decoration: none
                        color: #b1b1b1
        &_item
            &_title
                margin-bottom: 10px
            &_preview
                height: 140px
                max-width: 226px
            &--with_picture
                position: relative
                img
                    height: 92px
                    width: 100%
                    -o-object-fit: contain
                    object-fit: contain
                    -o-object-position: left
                    object-position: left
                a
                    position: absolute
                    width: 100%
                    height: 100%
                    top: 0
                    left: 0
    &__mobile_apps
        width: 100px
        display: inline-block
        height: 41px
        box-sizing: border-box
        float: left
        margin-right: 20px
        padding: 0 !important

@media screen and (max-width: 768px)
    .footer
        &__menu, &__bottom
            display: block !important
            margin-left: 0 !important
            margin-right: 0 !important
            > *
                width: 100% !important
                margin: 0 0 20px !important
                padding: 0 !important
        &__bottom
            .bottom--right
                text-align: initial !important
        &__socials
            -webkit-justify-content: initial !important
            justify-content: initial !important
            > *
                margin: 0 20px 0 0 !important