.footer__menu {
  width: 75%;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 45px;
  font: 500 14px/35px "Ubuntu Regular", sans-serif;
  text-transform: uppercase;
}
.footer__menu > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}
.footer__menu li {
  color: white;
}
.footer__menu li:last-child {
  margin: 0;
}
.footer__menu li.root-item {
  color: #FFCF00;
  padding: 0;
}
.footer__menu li.root-item > ul > li:not(.root-item) {
  text-decoration: underline;
  font: 14px/17px "Helios Normal", sans-serif;
  padding: 7px 0;
  text-transform: initial;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
.footer__menu li.root-item > ul > li:not(.root-item):hover {
  text-decoration: none;
  color: #b1b1b1;
}
.footer__menu_item_title {
  margin-bottom: 10px;
}
.footer__menu_item_preview {
  height: 140px;
  max-width: 226px;
}
.footer__menu_item--with_picture {
  position: relative;
}
.footer__menu_item--with_picture img {
  height: 92px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left;
  object-position: left;
}
.footer__menu_item--with_picture a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.footer__mobile_apps {
  width: 100px;
  display: inline-block;
  height: 41px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .footer__menu, .footer__bottom {
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .footer__menu > *, .footer__bottom > * {
    width: 100% !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
  }
  .footer__bottom .bottom--right {
    text-align: initial !important;
  }
  .footer__socials {
    -webkit-justify-content: initial !important;
    justify-content: initial !important;
  }
  .footer__socials > * {
    margin: 0 20px 0 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
