@import "../../../../css/variables"

.useful
    .owl-stage-outer
        height: 80vw
        max-height: 400px
    &__slider
        font: 16px/25px $ffb
    &__slide
        height: 100%
        position: relative
        padding: 128px 46px 46px
        color: white
        &.dark
            color: black
    .slide__picture
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        -o-object-fit: cover
        object-fit: cover
        &.rigth-align
            -o-object-position: right
            object-position: right
    .slide__title
        position: relative
        font: 40px/46px $ffb
        padding: 0 0 20px
        max-width: 500px
    .slide__text
        position: relative
        font-size: 24px
        line-height: 36px
        padding: 0 0 20px
        max-width: 500px
    .slide__link
        position: relative
        font: 16px/25px $ffb
        text-transform: uppercase
        border: 3px solid #FFA800
        border-width: 0 0 3px 0
        padding: 0 0 4px
        max-width: 500px


@media screen and (max-width: 768px)
    .useful
        &__slide
            padding: 10px
        .slide
            &__title
                font-size: 20px
                line-height: 24px
            &__text
                font-size: 14px
                line-height: 16px