.useful .owl-stage-outer {
  height: 80vw;
  max-height: 400px;
}
.useful__slider {
  font: 16px/25px "Helios Bold", sans-serif;
}
.useful__slide {
  height: 100%;
  position: relative;
  padding: 128px 46px 46px;
  color: white;
}
.useful__slide.dark {
  color: black;
}
.useful .slide__picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.useful .slide__picture.rigth-align {
  -o-object-position: right;
  object-position: right;
}
.useful .slide__title {
  position: relative;
  font: 40px/46px "Helios Bold", sans-serif;
  padding: 0 0 20px;
  max-width: 500px;
}
.useful .slide__text {
  position: relative;
  font-size: 24px;
  line-height: 36px;
  padding: 0 0 20px;
  max-width: 500px;
}
.useful .slide__link {
  position: relative;
  font: 16px/25px "Helios Bold", sans-serif;
  text-transform: uppercase;
  border: 3px solid #FFA800;
  border-width: 0 0 3px 0;
  padding: 0 0 4px;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .useful__slide {
    padding: 10px;
  }
  .useful .slide__title {
    font-size: 20px;
    line-height: 24px;
  }
  .useful .slide__text {
    font-size: 14px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
